{
  // Ship level on the left, upgrade on the right
  "3" : {
    "licenseLevel" : 1,
    "cinematic" : "/cinematics/licenses/license1.cinematic",
    "item" : "license1",
    "exclusiveQuests" : [ "illegalshipupgrade1" ],
    "itemDelay" : 4
  },
  "4" : {
    "licenseLevel" : 2,
    "cinematic" : "/cinematics/licenses/license2.cinematic",
    "item" : "license2",
    "exclusiveQuests" : [ "illegalshipupgrade2" ],
    "itemDelay" : 4
  },
  "5" : {
    "licenseLevel" : 3,
    "cinematic" : "/cinematics/licenses/license3.cinematic",
    "item" : "license3",
    "exclusiveQuests" : [ "illegalshipupgrade3" ],
    "itemDelay" : 4
  },
  "6" : {
    "licenseLevel" : 4,
    "cinematic" : "/cinematics/licenses/license4.cinematic",
    "item" : "license4",
    "exclusiveQuests" : [ "illegalshipupgrade4" ],
    "itemDelay" : 4
  },
  "7" : {
    "licenseLevel" : 5,
    "cinematic" : "/cinematics/licenses/license5.cinematic",
    "item" : "license5",
    "exclusiveQuests" : [ "illegalshipupgrade5" ],
    "itemDelay" : 4
  }
}
