{
  // TIER 3

  "simple" : {
    "stats" : {
      "speed" : 3,
      "control" : 3
    },
    "partParameters" : {},
    "partImages" : {
      "backBoosterBack" : "booster/simple_back_back.png",
      "backBoosterFullbright" : "boosterflame/simple_back.png",
      "backBoosterFront" : "booster/simple_back_front.png",
      "frontBoosterBack" : "booster/simple_front_back.png",
      "frontBoosterFullbright" : "boosterflame/simple_front.png",
      "frontBoosterFront" : "booster/simple_front_front.png"
    },
    "defaultPrimaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "defaultSecondaryColors" : ["9da8af", "676f83", "3d3d51", "24232f"],
    "animationCustom" : {
      "animatedParts" : { "parts" : {
        "frontBoosterFullbright" : { "properties" : {
          "zLevel" : 10.5
        }}
      }}
    }
  },

  // TIER 4

  "zed" : {
    "stats" : {
      "speed" : 5,
      "control" : 3
    },
    "partParameters" : {},
    "partImages" : {
      "backBoosterBack" : "booster/zed_back_back.png",
      "backBoosterFullbright" : "boosterflame/zed_back.png",
      "backBoosterFront" : "booster/zed_back_front.png",
      "frontBoosterBack" : "booster/zed_front_back.png",
      "frontBoosterFullbright" : "boosterflame/zed_front.png",
      "frontBoosterFront" : "booster/zed_front_front.png"
    },
    "defaultPrimaryColors" : ["ffffa7", "e2c344", "a46e06", "642f00"],
    "defaultSecondaryColors" : ["838383", "555555", "383838", "151515"],
    "animationCustom" : {
      "animatedParts" : { "parts" : {
        "frontBoosterFullbright" : { "properties" : {
          "zLevel" : 10.5
        }}
      }}
    }
  },

  "stalwart" : {
    "stats" : {
      "speed" : 4,
      "control" : 4
    },
    "partParameters" : {},
    "partImages" : {
      "backBoosterBack" : "booster/stalwart_back_back.png",
      "backBoosterFullbright" : "boosterflame/stalwart.png",
      "backBoosterFront" : "booster/stalwart_back_front.png",
      "frontBoosterBack" : "booster/stalwart_front_back.png",
      "frontBoosterFullbright" : "boosterflame/stalwart.png",
      "frontBoosterFront" : "booster/stalwart_front_front.png"
    },
    "defaultPrimaryColors" : ["909c4f", "5f6c37", "414d28", "1b2211"],
    "defaultSecondaryColors" : ["976750", "714f3c", "513a2d", "36261e"],
    "animationCustom" : {}
  },

  "astro" : {
    "stats" : {
      "speed" : 3,
      "control" : 5
    },
    "partParameters" : {},
    "partImages" : {
      "backBoosterBack" : "booster/astro_back_back.png",
      "backBoosterFullbright" : "boosterflame/astro.png",
      "backBoosterFront" : "booster/astro_back_front.png",
      "frontBoosterBack" : "booster/astro_front_back.png",
      "frontBoosterFullbright" : "boosterflame/astro.png",
      "frontBoosterFront" : "booster/astro_front_front.png"
    },
    "defaultPrimaryColors" : ["ffd495", "ea9931", "af4e00", "6e2900"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {
      "animatedParts" : { "parts" : {
        "frontBoosterFullbright" : { "properties" : {
          "zLevel" : 10.5
        }}
      }}
    }
  },

  // TIER 5

  "sleek" : {
    "stats" : {
      "speed" : 5,
      "control" : 5
    },
    "partParameters" : {},
    "partImages" : {
      "backBoosterBack" : "booster/sleek_back_back.png",
      "backBoosterFullbright" : "boosterflame/sleek.png",
      "backBoosterFront" : "booster/sleek_back_front.png",
      "frontBoosterBack" : "booster/sleek_front_back.png",
      "frontBoosterFullbright" : "boosterflame/sleek.png",
      "frontBoosterFront" : "booster/sleek_front_front.png"
    },
    "defaultPrimaryColors" : ["fbdf71", "d9b035", "a26f03", "664601"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {}
  },

  // TIER 6

  "gallant" : {
    "stats" : {
      "speed" : 7,
      "control" : 5
    },
    "partParameters" : {},
    "partImages" : {
      "backBoosterBack" : "booster/gallant_back_back.png",
      "backBoosterFullbright" : "boosterflame/gallant.png",
      "backBoosterFront" : "booster/gallant_back_front.png",
      "frontBoosterBack" : "booster/gallant_front_back.png",
      "frontBoosterFullbright" : "boosterflame/gallant.png",
      "frontBoosterFront" : "booster/gallant_front_front.png"
    },
    "defaultPrimaryColors" : ["96cbe7", "5588d4", "344495", "1a1c51"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {
      "animatedParts" : { "parts" : {
        "frontBoosterFullbright" : { "properties" : {
          "zLevel" : 10.5
        }}
      }}
    }
  },

  "zero" : {
    "stats" : {
      "speed" : 6,
      "control" : 6
    },
    "partParameters" : {},
    "partImages" : {
      "backBoosterBack" : "booster/zero_back_back.png",
      "backBoosterFullbright" : "boosterflame/zero.png",
      "backBoosterFront" : "booster/zero_back_front.png",
      "frontBoosterBack" : "booster/zero_front_back.png",
      "frontBoosterFullbright" : "boosterflame/zero.png",
      "frontBoosterFront" : "booster/zero_front_front.png"
    },
    "defaultPrimaryColors" : ["ffffa7", "e2c344", "a46e06", "642f00"],
    "defaultSecondaryColors" : ["8da6b0", "657988", "434d5e", "313247"],
    "animationCustom" : {}
  },

  "hammer" : {
    "stats" : {
      "speed" : 5,
      "control" : 7
    },
    "partParameters" : {},
    "partImages" : {
      "backBoosterBack" : "booster/hammer_back_back.png",
      "backBoosterFullbright" : "boosterflame/hammer_back.png",
      "backBoosterFront" : "booster/hammer_back_front.png",
      "frontBoosterBack" : "booster/hammer_front_back.png",
      "frontBoosterFullbright" : "boosterflame/hammer_front.png",
      "frontBoosterFront" : "booster/hammer_front_front.png"
    },
    "defaultPrimaryColors" : ["f4988c", "d93a3a", "932625", "601119"],
    "defaultSecondaryColors" : ["9da8af", "676f83", "3d3d51", "24232f"],
    "animationCustom" : {
      "animatedParts" : { "parts" : {
        "frontBoosterFullbright" : { "properties" : {
          "zLevel" : 10.5
        }}
      }}
    }
  }
}
