{
  // TIER 3 (starter equipment)

  "apexproto" : {
    "stats" : {
      "energy" : 3,
      "protection" : 3
    },
    "partParameters" : {},
    "partImages" : {
      "bodyBack" : "body/apexproto_back.png",
      "bodyFront" : "body/apexproto_front.png"
    },
    "defaultPrimaryColors" : ["b5b5b5", "808080", "555555", "303030"],
    "defaultSecondaryColors" : ["c0ab5e", "9b7e14", "6b5509", "342804"],
    "animationCustom" : {}
  },

  "avianproto" : {
    "stats" : {
      "energy" : 3,
      "protection" : 3
    },
    "partParameters" : {},
    "partImages" : {
      "bodyBack" : "body/avianproto_back.png",
      "bodyFront" : "body/avianproto_front.png",
      "bodyFullbright" : "body/avianproto_fullbright.png"
    },
    "defaultPrimaryColors" : ["b5b5b5", "808080", "555555", "303030"],
    "defaultSecondaryColors" : ["c0ab5e", "9b7e14", "6b5509", "342804"],
    "animationCustom" : {}
  },

  "floranproto" : {
    "stats" : {
      "energy" : 3,
      "protection" : 3
    },
    "partParameters" : {},
    "partImages" : {
      "bodyBack" : "body/floranproto_back.png",
      "bodyFront" : "body/floranproto_front.png"
    },
    "defaultPrimaryColors" : ["9b7c73", "775c55", "54413c", "302523"],
    "defaultSecondaryColors" : ["7c8d91", "5d6b6f", "424b4e", "252a2c"],
    "animationCustom" : {}
  },

  "glitchproto" : {
    "stats" : {
      "energy" : 3,
      "protection" : 3
    },
    "partParameters" : {},
    "partImages" : {
      "bodyBack" : "body/glitchproto_back.png",
      "bodyFront" : "body/glitchproto_front.png"
    },
    "defaultPrimaryColors" : ["b5b5b5", "808080", "555555", "303030"],
    "defaultSecondaryColors" : ["c0ab5e", "9b7e14", "6b5509", "342804"],
    "animationCustom" : {}
  },

  "hylotlproto" : {
    "stats" : {
      "energy" : 3,
      "protection" : 3
    },
    "partParameters" : {},
    "partImages" : {
      "bodyBack" : "body/hylotlproto_back.png",
      "bodyFront" : "body/hylotlproto_front.png",
      "bodyFullbright" : "body/hylotlproto_fullbright.png"
    },
    "defaultPrimaryColors" : ["9da8af", "676f83", "3d3d51", "24232f"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {}
  },

  "humanproto" : {
    "stats" : {
      "energy" : 3,
      "protection" : 3
    },
    "partParameters" : {},
    "partImages" : {
      "bodyBack" : "body/humanproto_back.png",
      "bodyFront" : "body/humanproto_front.png",
      "bodyFullbright" : "body/humanproto_fullbright.png"
    },
    "defaultPrimaryColors" : ["b5b5b5", "808080", "555555", "303030"],
    "defaultSecondaryColors" : ["c36a5f", "994c49", "6f3130", "551d28"],
    "animationCustom" : {
      "animatedParts" : { "parts" : { "bodyFront" : { "properties" : {
        "sitPosition" : [0.3, 0.4]
      }}}}
    }
  },

  "novakidproto" : {
    "stats" : {
      "energy" : 3,
      "protection" : 3
    },
    "partParameters" : {},
    "partImages" : {
      "bodyBack" : "body/novakidproto_back.png",
      "bodyFront" : "body/novakidproto_front.png"
    },
    "defaultPrimaryColors" : ["909c4f", "5f6c37", "414d28", "1b2211"],
    "defaultSecondaryColors" : ["c0ab5e", "9b7e14", "6b5509", "342804"],
    "animationCustom" : {
      "animatedParts" : { "parts" : { "bodyFront" : { "properties" : {
        "sitPosition" : [0.8, 0]
      }}}}
    }
  },

  // TIER 4

  "pirate" : {
    "stats" : {
      "energy" : 4,
      "protection" : 4
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation"]
    },
    "partImages" : {
      "bodyBack" : "body/pirate_back.png",
      "bodyFront" : "body/pirate_front.png",
      "bodyFullbright" : "body/pirate_fullbright.png"
    },
    "defaultPrimaryColors" : ["e7dfbd", "baaa7c", "85734f", "4f432c"],
    "defaultSecondaryColors" : ["838383", "555555", "383838", "151515"],
    "animationCustom" : {
      "animatedParts" : { "parts" : { "bodyFront" : { "properties" : {
        "sitPosition" : [0.0625, 1.0]
      }}}}
    }
  },

  "penguin" : {
    "stats" : {
      "energy" : 5,
      "protection" : 3
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation"]
    },
    "partImages" : {
      "bodyFront" : "body/penguin_front.png",
      "bodyFullbright" : "body/penguin_fullbright.png"
    },
    "defaultPrimaryColors" : ["9da8af", "676f83", "3d3d51", "24232f"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {}
  },

  "cultist" : {
    "stats" : {
      "energy" : 3,
      "protection" : 5
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation"]
    },
    "partImages" : {
      "bodyBack" : "body/cultist_back.png",
      "bodyFront" : "body/cultist_front.png",
      "bodyFullbright" : "body/cultist_fullbright.png"
    },
    "defaultPrimaryColors" : ["d29ce7", "a451c4", "6a2284", "320c40"],
    "defaultSecondaryColors" : ["838383", "555555", "383838", "151515"],
    "animationCustom" : {}
  },

  "military" : {
    "stats" : {
      "energy" : 3,
      "protection" : 5
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation"]
    },
    "partImages" : {
      "bodyBack" : "body/military_back.png",
      "bodyFront" : "body/military_front.png",
      "bodyFullbright" : "body/military_fullbright.png"
    },
    "defaultPrimaryColors" : ["909c4f", "5f6c37", "414d28", "1b2211"],
    "defaultSecondaryColors" : ["838383", "555555", "383838", "151515"],
    "animationCustom" : {}
  },

  "reactor" : {
    "stats" : {
      "energy" : 5,
      "protection" : 3
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation"]
    },
    "partImages" : {
      "bodyFront" : "body/reactor_front.png",
      "bodyFullbright" : "body/reactor_fullbright.png"
    },
    "defaultPrimaryColors" : ["9da8af", "676f83", "3d3d51", "24232f"],
    "defaultSecondaryColors" : ["ffffa7", "e2c344", "a46e06", "642f00"],
    "animationCustom" : {}
  },

  "bad" : {
    "stats" : {
      "energy" : 4,
      "protection" : 4
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation"]
    },
    "partImages" : {
      "bodyFront" : "body/bad_front.png",
      "bodyFullbright" : "body/bad_fullbright.png"
    },
    "defaultPrimaryColors" : ["f4988c", "d93a3a", "932625", "601119"],
    "defaultSecondaryColors" : ["ffffa7", "e2c344", "a46e06", "642f00"],
    "animationCustom" : {
      "animatedParts" : { "parts" : { "bodyFront" : { "properties" : {
        "sitPosition" : [0.2, 0.4]
      }}}}
    }
  },

  // TIER 5

  "apex" : {
    "stats" : {
      "energy" : 5,
      "protection" : 5
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold"]
    },
    "partImages" : {
      "bodyBack" : "body/apex_back.png",
      "bodyFront" : "body/apex_front.png",
      "bodyFullbright" : "body/apex_fullbright.png"
    },
    "defaultPrimaryColors" : ["ccae7c", "a47844", "754c23", "472b13"],
    "defaultSecondaryColors" : ["838383", "555555", "383838", "151515"],
    "animationCustom" : {}
  },

  "avian" : {
    "stats" : {
      "energy" : 5,
      "protection" : 5
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold"]
    },
    "partImages" : {
      "bodyBack" : "body/avian_back.png",
      "bodyFront" : "body/avian_front.png",
      "bodyFullbright" : "body/avian_fullbright.png"
    },
    "defaultPrimaryColors" : ["b5b5b5", "808080", "555555", "303030"],
    "defaultSecondaryColors" : ["fbdf71", "d9b035", "a26f03", "664601"],
    "animationCustom" : {
      "animatedParts" : { "parts" : { "bodyFront" : { "properties" : {
        "sitPosition" : [0.3, 0.4]
      }}}}
    }
  },

  "floran" : {
    "stats" : {
      "energy" : 5,
      "protection" : 5
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold"]
    },
    "partImages" : {
      "bodyBack" : "body/floran_back.png",
      "bodyFront" : "body/floran_front.png",
      "bodyFullbright" : "body/floran_fullbright.png"
    },
    "defaultPrimaryColors" : ["9b7c73", "775c55", "54413c", "302523"],
    "defaultSecondaryColors" : ["7c8d91", "5d6b6f", "424b4e", "252a2c"],
    "animationCustom" : {}
  },

  "glitch" : {
    "stats" : {
      "energy" : 5,
      "protection" : 5
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold"]
    },
    "partImages" : {
      "bodyBack" : "body/glitch_back.png",
      "bodyFront" : "body/glitch_front.png",
      "bodyFullbright" : "body/glitch_fullbright.png"
    },
    "defaultPrimaryColors" : ["b5b5b5", "808080", "555555", "303030"],
    "defaultSecondaryColors" : ["fbdf71", "d9b035", "a26f03", "664601"],
    "animationCustom" : {}
  },

  "hylotl" : {
    "stats" : {
      "energy" : 5,
      "protection" : 5
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold"]
    },
    "partImages" : {
      "bodyBack" : "body/hylotl_back.png",
      "bodyFront" : "body/hylotl_front.png",
      "bodyFullbright" : "body/hylotl_fullbright.png"
    },
    "defaultPrimaryColors" : ["8da6b0", "657988", "434d5e", "313247"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {}
  },

  "human" : {
    "stats" : {
      "energy" : 5,
      "protection" : 5
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold"]
    },
    "partImages" : {
      "bodyBack" : "body/human_back.png",
      "bodyFront" : "body/human_front.png",
      "bodyFullbright" : "body/human_fullbright.png"
    },
    "defaultPrimaryColors" : ["b5b5b5", "808080", "555555", "303030"],
    "defaultSecondaryColors" : ["c36a5f", "994c49", "6f3130", "551d28"],
    "animationCustom" : {}
  },

  "novakid" : {
    "stats" : {
      "energy" : 5,
      "protection" : 5
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold"]
    },
    "partImages" : {
      "bodyBack" : "body/novakid_back.png",
      "bodyFront" : "body/novakid_front.png"
    },
    "defaultPrimaryColors" : ["909c4f", "5f6c37", "414d28", "1b2211"],
    "defaultSecondaryColors" : ["c0ab5e", "9b7e14", "6b5509", "342804"],
    "animationCustom" : {
      "animatedParts" : { "parts" : { "bodyFront" : { "properties" : {
        "sitPosition" : [0.8, 0]
      }}}}
    }
  },

  // TIER 6

  "hero" : {
    "stats" : {
      "energy" : 6,
      "protection" : 6
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold", "biomeheat"]
    },
    "partImages" : {
      "bodyBack" : "body/hero_back.png",
      "bodyFront" : "body/hero_front.png",
      "bodyFullbright" : "body/hero_fullbright.png"
    },
    "defaultPrimaryColors" : ["f4988c", "d93a3a", "932625", "601119"],
    "defaultSecondaryColors" : ["cccccc", "9e9e9e", "616161", "383838"],
    "animationCustom" : {}
  },

  "skull" : {
    "stats" : {
      "energy" : 7,
      "protection" : 5
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold", "biomeheat"]
    },
    "partImages" : {
      "bodyBack" : "body/skull_back.png",
      "bodyFront" : "body/skull_front.png",
      "bodyFullbright" : "body/skull_fullbright.png"
    },
    "defaultPrimaryColors" : ["838383", "555555", "383838", "151515"],
    "defaultSecondaryColors" : ["e7dfbd", "baaa7c", "85734f", "4f432c"],
    "animationCustom" : {}
  },

  "miniknog" : {
    "stats" : {
      "energy" : 6,
      "protection" : 6
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold", "biomeheat"]
    },
    "partImages" : {
      "bodyBack" : "body/miniknog_back.png",
      "bodyFront" : "body/miniknog_front.png",
      "bodyFullbright" : "body/miniknog_fullbright.png"
    },
    "defaultPrimaryColors" : ["e7e7e7", "b7b7b7", "7c7c7c", "383838"],
    "defaultSecondaryColors" : ["838383", "555555", "383838", "151515"],
    "animationCustom" : {}
  },

  "shark" : {
    "stats" : {
      "energy" : 6,
      "protection" : 6
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold", "biomeheat"]
    },
    "partImages" : {
      "bodyFront" : "body/shark_front.png",
      "bodyFullbright" : "body/shark_fullbright.png"
    },
    "defaultPrimaryColors" : ["4098c4", "4098c4", "2c6c93", "20406b"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {
      "animatedParts" : { "parts" : { "bodyFront" : { "properties" : {
        "sitPosition" : [0.0625, 0.5]
      }}}}
    }
  },

  "exodus" : {
    "stats" : {
      "energy" : 5,
      "protection" : 7
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold", "biomeheat"]
    },
    "partImages" : {
      "bodyBack" : "body/exodus_back.png",
      "bodyFront" : "body/exodus_front.png",
      "bodyFullbright" : "body/exodus_fullbright.png"
    },
    "defaultPrimaryColors" : ["b2e89d", "51bd3b", "247824", "144216"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {}
  },

  "iris" : {
    "stats" : {
      "energy" : 7,
      "protection" : 5
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold", "biomeheat"]
    },
    "partImages" : {
      "bodyBack" : "body/iris_back.png",
      "bodyFront" : "body/iris_front.png",
      "bodyFullbright" : "body/iris_fullbright.png"
    },
    "defaultPrimaryColors" : ["c36a5f", "994c49", "6f3130", "551d28"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {
      "animatedParts" : { "parts" : { "bodyFront" : { "properties" : {
        "sitPosition" : [0.55, 0.28]
      }}}}
    }
  },

  "cultist2" : {
    "stats" : {
      "energy" : 5,
      "protection" : 7
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold", "biomeheat"]
    },
    "partImages" : {
      "bodyBack" : "body/cultist2_back.png",
      "bodyFront" : "body/cultist2_front.png",
      "bodyFullbright" : "body/cultist2_fullbright.png"
    },
    "defaultPrimaryColors" : ["d29ce7", "a451c4", "6a2284", "320c40"],
    "defaultSecondaryColors" : ["ffffa7", "e2c344", "a46e06", "642f00"],
    "animationCustom" : {
      "animatedParts" : { "parts" : { "bodyFront" : { "properties" : {
        "sitPosition" : [0.65, 0.28]
      }}}}
    }
  },

  "peacekeeper" : {
    "stats" : {
      "energy" : 5,
      "protection" : 7
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold", "biomeheat"]
    },
    "partImages" : {
      "bodyBack" : "body/peacekeeper_back.png",
      "bodyFront" : "body/peacekeeper_front.png",
      "bodyFullbright" : "body/peacekeeper_fullbright.png"
    },
    "defaultPrimaryColors" : ["818c92", "626c71", "4e575b", "323739"],
    "defaultSecondaryColors" : ["ffffa7", "e2c344", "a46e06", "642f00"],
    "animationCustom" : {
      "animatedParts" : { "parts" : { "bodyFront" : { "properties" : {
        "sitPosition" : [0.65, 0.28]
      }}}}
    }
  },

  "protector" : {
    "stats" : {
      "energy" : 6,
      "protection" : 6
    },
    "partParameters" : {
      "hazardImmunities" : ["biomeradiation", "biomecold", "biomeheat"]
    },
    "partImages" : {
      "bodyBack" : "body/protector_back.png",
      "bodyFront" : "body/protector_front.png",
      "bodyFullbright" : "body/protector_fullbright.png"
    },
    "defaultPrimaryColors" : ["8da6b0", "657988", "434d5e", "313247"],
    "defaultSecondaryColors" : ["fbdf71", "d9b035", "a26f03", "664601"],
    "animationCustom" : {
      "animatedParts" : {
        // "stateTypes" : {
        //   "power" : {
        //     "states" : {
        //       "activate" : {
        //         "properties" : {
        //           "immediateSound" : "/sfx/tech/mech_activate.ogg",
        //           "immediateSoundRangeMultiplier" : 1.0
        //         }
        //       },
        //       "deactivate" : {}
        //     }
        //   }
        // },
        "parts" : { "bodyFront" : { "properties" : {
        "sitPosition" : [0.65, 0.28]
      }}}}
    }
  }
}
