{
  "train" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_train.ogg"]
      }
    }
  },
  "steamwhistle" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_steamwhistle.ogg"]
      }
    }
  },
  "airhorn" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_airhorn.ogg"]
      }
    }
  },
  "bull" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_bull.ogg"]
      }
    }
  },
  "charge" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_charge.ogg"]
      }
    }
  },
  "clownhorn" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_clownhorn.ogg"]
      }
    }
  },
  "foghorn" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_foghorn.ogg"]
      }
    }
  },
  "toy" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_toy.ogg"]
      }
    }
  },
  "sportshorn" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_sportshorn.ogg"]
      }
    }
  },
  "lacucha" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_lacucha.ogg"]
      }
    }
  },
  "truck" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_truck.ogg"]
      }
    }
  },
  "robotvoice" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/npc/boss/robotboss_idle2.ogg", "/sfx/npc/boss/robotboss_pain3.ogg","/sfx/npc/boss/robotboss_turnhostile.ogg"]
      }
    }
  },
  "rubberduck" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_rubberduck.ogg"]
      }
    }
  },
  "bikebell" : {
    "animationCustom" : {
      "sounds" : {
        "horn" : ["/sfx/tech/mech_horn_bikebell.ogg"]
      }
    }
  }
}
