{
  "simple" : {
    "stats" : {
      "speed" : 3,
      "jump" : 3
    },
    "partParameters" : {},
    "partImages" : {
      "backLeg" : "leg/simple.png",
      "backLegFullbright" : "leg/simple_fullbright.png",
      "backLegJoint" : "legjoint/simple_back.png",
      "frontLeg" : "leg/simple.png",
      "frontLegFullbright" : "leg/simple_fullbright.png",
      "frontLegJoint" : "legjoint/simple_front.png",
      "hips" : "hips/simple.png"
    },
    "defaultPrimaryColors" : ["b5b5b5", "808080", "555555", "303030"],
    "defaultSecondaryColors" : ["9da8af", "676f83", "3d3d51", "24232f"],
    "animationCustom" : {}
  },

  "hopper" : {
    "stats" : {
      "speed" : 3,
      "jump" : 5
    },
    "partParameters" : {},
    "partImages" : {
      "backLeg" : "leg/hopper.png",
      "backLegFullbright" : "leg/hopper_fullbright.png",
      "backLegJoint" : "legjoint/hopper.png",
      "frontLeg" : "leg/hopper.png",
      "frontLegFullbright" : "leg/hopper_fullbright.png",
      "frontLegJoint" : "legjoint/hopper.png",
      "hips" : "hips/hopper.png"
    },
    "defaultPrimaryColors" : ["b2e89d", "51bd3b", "247824", "144216"],
    "defaultSecondaryColors" : ["838383", "555555", "383838", "151515"],
    "animationCustom" : {}
  },

  "twinjet" : {
    "stats" : {
      "speed" : 4,
      "jump" : 4
    },
    "partParameters" : {},
    "partImages" : {
      "backLeg" : "leg/twinjet.png",
      "backLegFullbright" : "leg/twinjet_fullbright.png",
      "backLegJoint" : "legjoint/twinjet_back.png",
      "frontLeg" : "leg/twinjet.png",
      "frontLegFullbright" : "leg/twinjet_fullbright.png",
      "frontLegJoint" : "legjoint/twinjet_front.png",
      "hips" : "hips/twinjet.png"
    },
    "defaultPrimaryColors" : ["96cbe7", "5588d4", "344495", "1a1c51"],
    "defaultSecondaryColors" : ["ffffa7", "e2c344", "a46e06", "642f00"],
    "animationCustom" : {}
  },

  "arc" : {
    "stats" : {
      "speed" : 5,
      "jump" : 3
    },
    "partParameters" : {},
    "partImages" : {
      "backLeg" : "leg/arc.png",
      "backLegFullbright" : "leg/arc_fullbright.png",
      "backLegJoint" : "legjoint/arc.png",
      "frontLeg" : "leg/arc.png",
      "frontLegFullbright" : "leg/arc_fullbright.png",
      "frontLegJoint" : "legjoint/arc.png",
      "hips" : "hips/arc.png"
    },
    "defaultPrimaryColors" : ["d29ce7", "a451c4", "6a2284", "320c40"],
    "defaultSecondaryColors" : ["b2e89d", "51bd3b", "247824", "144216"],
    "animationCustom" : {}
  },

  "sleek" : {
    "stats" : {
      "speed" : 5,
      "jump" : 5
    },
    "partParameters" : {},
    "partImages" : {
      "backLeg" : "leg/sleek.png",
      "backLegFullbright" : "leg/sleek_fullbright.png",
      "backLegJoint" : "legjoint/sleek_back.png",
      "frontLeg" : "leg/sleek.png",
      "frontLegFullbright" : "leg/sleek_fullbright.png",
      "frontLegJoint" : "legjoint/sleek_front.png",
      "hips" : "hips/sleek.png"
    },
    "defaultPrimaryColors" : ["8da6b0", "657988", "434d5e", "313247"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {}
  },

  "ronin" : {
    "stats" : {
      "speed" : 5,
      "jump" : 7
    },
    "partParameters" : {},
    "partImages" : {
      "backLeg" : "leg/ronin.png",
      "backLegFullbright" : "leg/ronin_fullbright.png",
      "backLegJoint" : "legjoint/ronin_back.png",
      "frontLeg" : "leg/ronin.png",
      "frontLegFullbright" : "leg/ronin_fullbright.png",
      "frontLegJoint" : "legjoint/ronin_front.png",
      "hips" : "hips/ronin.png"
    },
    "defaultPrimaryColors" : ["8da6b0", "657988", "434d5e", "313247"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {}
  },

  "intrepid" : {
    "stats" : {
      "speed" : 6,
      "jump" : 6
    },
    "partParameters" : {},
    "partImages" : {
      "backLeg" : "leg/intrepid.png",
      "backLegFullbright" : "leg/intrepid_fullbright.png",
      "backLegJoint" : "legjoint/intrepid_back.png",
      "frontLeg" : "leg/intrepid.png",
      "frontLegFullbright" : "leg/intrepid_fullbright.png",
      "frontLegJoint" : "legjoint/intrepid_front.png",
      "hips" : "hips/intrepid.png"
    },
    "defaultPrimaryColors" : ["909c4f", "5f6c37", "414d28", "1b2211"],
    "defaultSecondaryColors" : ["b5b5b5", "808080", "555555", "303030"],
    "animationCustom" : {}
  },

  "hermes" : {
    "stats" : {
      "speed" : 7,
      "jump" : 5
    },
    "partParameters" : {},
    "partImages" : {
      "backLeg" : "leg/hermes.png",
      "backLegFullbright" : "leg/hermes_fullbright.png",
      "backLegJoint" : "legjoint/hermes_back.png",
      "frontLeg" : "leg/hermes.png",
      "frontLegFullbright" : "leg/hermes_fullbright.png",
      "frontLegJoint" : "legjoint/hermes_front.png",
      "hips" : "hips/hermes.png"
    },
    "defaultPrimaryColors" : ["f4988c", "d93a3a", "932625", "601119"],
    "defaultSecondaryColors" : ["e6e6e6", "b6b6b6", "7b7b7b", "373737"],
    "animationCustom" : {}
  }
}
