{
  "mass" : 1.0,
  "gravityMultiplier" : 1.5,
  "bounceFactor" : 0.0,
  "stopOnFirstBounce" : false,
  "enableSurfaceSlopeCorrection" : true,
  "slopeSlidingFactor" : 0.0,
  "maxMovementPerStep" : 0.8,
  "maximumCorrection" : 3,
  "speedLimit" : 200,

  // "standingPoly" and "crouchingPoly" Can be used instead of "collisionPoly"
  "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],

  "stickyCollision" : false,
  "stickyForce" : 0.0,

  "walkSpeed" : 8.0,
  "runSpeed" : 14.0,
  "flySpeed" : 8.0,

  "airFriction" : 0.0,
  "liquidFriction" : 5.0,

  "minimumLiquidPercentage" : 0.5,
  "liquidImpedance" : 0.5,
  "liquidBuoyancy" : 0,

  "normalGroundFriction" : 14.0,
  "ambulatingGroundFriction" : 1.0,

  "groundForce" : 100.0,
  "airForce" : 20.0,
  "liquidForce" : 30.0,

  "airJumpProfile" : {
    "jumpSpeed" : 45.0,
    "jumpControlForce" : 900.0,
    "jumpInitialPercentage" : 1.0,
    "jumpHoldTime" : 0.0,

    "multiJump" : false,
    "reJumpDelay" : 0.05,
    "autoJump" : false,
    "collisionCancelled" : true
  },

  "liquidJumpProfile" : {
    "jumpSpeed" : 30.0,
    "jumpControlForce" : 400.0,
    "jumpInitialPercentage" : 0.75,
    "jumpHoldTime" : 0.25,

    "multiJump" : true,
    "reJumpDelay" : 0.25,
    "autoJump" : true,
    "collisionCancelled" : false
  },

  "fallStatusSpeedMin" : -4.0,
  "fallThroughSustainFrames" : 12,
  "maximumPlatformCorrection" : 0.02,
  "maximumPlatformCorrectionVelocityFactor" : 0.03,

  "groundMovementMinimumSustain" : 0.1,
  "groundMovementMaximumSustain" : 0.25,
  "groundMovementCheckDistance" : 0.75,

  "collisionEnabled" : true,
  "frictionEnabled" : true,
  "gravityEnabled" : true,

  "pathExploreRate" : 50.0
}
