{
  "mass" : 1.0,
  "gravityMultiplier" : 1.0,
  "liquidBuoyancy" : 0.0,
  "airBuoyancy" : 0.0,
  "bounceFactor" : 0.0,
  "stopOnFirstBounce" : false,
  "enableSurfaceSlopeCorrection" : false,
  "slopeSlidingFactor" : 0.0,
  "maxMovementPerStep" : 0.8,
  "maximumCorrection" : 3,
  "discontinuityThreshold" : 10,

  "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],

  "stickyCollision" : false,
  "stickyForce" : 0.0,

  "airFriction" : 1.0,
  "liquidFriction" : 4.0,
  "groundFriction" : 8.0,

  "speedLimit" : 400,
  "collisionEnabled" : true,
  "frictionEnabled" : true,
  "gravityEnabled" : true,

  "ignorePlatformCollision" : false,
  "maximumPlatformCorrection" : 0.02,
  "maximumPlatformCorrectionVelocityFactor" : 0.03,

  "restDuration" : 3
}
