{
  "museum" : {
    "primaryDungeon" : "museum",
    "threatLevel" : 1,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "ambientLightLevel" : [128, 128, 128],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/planetarium.ogg"
  },

  "protectorate" : {
    "primaryDungeon" : "protectorate",
    "threatLevel" : 1,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 495,
    "ambientLightLevel" : [128, 128, 128],
    "biome" : "earth",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "outpost" : {
    "primaryDungeon" : "outpost",
    "threatLevel" : 1,
    "gravity" : 80,
    "worldSize" : [2000, 1000],
    "dungeonBaseHeight" : 750,
    "ambientLightLevel" : [128, 128, 128],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/planetarium.ogg"
  },

  "arena1" : {
    "primaryDungeon" : "arena1",
    "threatLevel" : 4,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1200,
    "dungeonSurfaceHeight" : 1115,
    "ambientLightLevel" : [200, 200, 200],
    "ambientNoises" : "/sfx/environmental/garden_day.ogg",
    "musicTrack" : "/music/i-was-the-sun.ogg",
    "biome": "forest",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "arena2" : {
    "primaryDungeon" : "arena2",
    "threatLevel" : 5,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1200,
    "dungeonSurfaceHeight" : 1115,
    "ambientLightLevel" : [200, 200, 200],
    "ambientNoises" : "/sfx/environmental/garden_day.ogg",
    "musicTrack" : "/music/i-was-the-sun.ogg",
    "biome": "forest",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "arena3" : {
    "primaryDungeon" : "arena3",
    "threatLevel" : 6,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1200,
    "dungeonSurfaceHeight" : 1115,
    "ambientLightLevel" : [200, 200, 200],
    "ambientNoises" : "/sfx/environmental/garden_day.ogg",
    "musicTrack" : "/music/i-was-the-sun.ogg",
    "biome": "forest",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "lunarbase" : {
    "primaryDungeon" : "lunarbase",
    "threatLevel" : 2,
    "airless" : false,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "ambientLightLevel" : [32, 32, 32],
    "biome" : "lunarbase",
    "musicTrack" : "/music/ocean-battle1-loop.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "floranmission1" : {
    "primaryDungeon" : "floranmission1",
    "threatLevel" : 3,
    "gravity" : 80,
    "worldSize" : [3000, 2000],
    "dungeonBaseHeight" : 1200,
    "ambientLightLevel" : [32, 32, 32],
    "biome" : "jungle",
    "musicTrack" : "/music/lava-exploration2.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "hylotlmission1" : {
    "primaryDungeon" : "hylotlmission1",
    "threatLevel" : 4,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1400,
    "dungeonSurfaceHeight" : 1209,
    "biome" : "oceanmission",
    "ambientLightLevel" : [32, 32, 32],
    "musicTrack" : "/music/the-deep.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "avianmission1" : {
    "primaryDungeon" : "avianmission1",
    "threatLevel" : 5,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 960,
    "ambientLightLevel" : [32, 32, 32],
    "biome" : "desert",
    "musicTrack" : "/music/casiopeia.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "apexmission1" : {
    "primaryDungeon" : "apexmission1",
    "weatherPool" : [
        [1.0, "storm"]
    ],
    "threatLevel" : 6,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1230,
    "dungeonSurfaceHeight" : 1050,
    "ambientLightLevel" : [32, 32, 32],
    "biome" : "jungle",
    "musicTrack" : "/music/arctic-battle1-loop.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "glitchmission1" : {
    "primaryDungeon" : "glitchmission1",
    "threatLevel" : 6,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1230,
    "dungeonSurfaceHeight" : 1070,
    "ambientLightLevel" : [32, 32, 32],
    "biome" : "forest",
    "musicTrack" : "",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "ancientgateway" : {
    "primaryDungeon" : "ancientgateway",
    "threatLevel" : 1,
    "gravity" : 40,
    "worldSize" : [1000, 1000],
    "dungeonBaseHeight" : 500,
    "ambientLightLevel" : [128, 128, 128],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/temple-of-kluex.ogg"
  },

  "penguinmission1" : {
    "primaryDungeon" : "penguinmission1",
    "weatherPool" : [
        [1.0, "snow"]
    ],
    "threatLevel" : 3,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 810,
    "ambientLightLevel" : [32, 32, 32],
    "biome" : "snow",
    "musicTrack" : "/music/arctic-battle2-loop.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "penguinmission2" : {
    "primaryDungeon" : "penguinmission2",
    "weatherPool" : [
        [1.0, "snowstorm"]
    ],
    "threatLevel" : 4,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 810,
    "ambientLightLevel" : [32, 32, 32],
    "biome" : "tundra",
    "musicTrack" : "/music/crystal-exploration1.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "cultistmission1" : {
    "primaryDungeon" : "cultistmission1",
    "threatLevel" : 6,
    "gravity" : 80,
    "worldSize" : [2500, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 810,
    "ambientLightLevel" : [32, 32, 32],
    "musicTrack" : "/music/housecleaning.ogg",
    "environmentStatusEffects" : ["dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "challengerooms" : {
    "primaryDungeon" : "challengerooms",
    "threatLevel" : 1,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 810,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/event-horizon.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "ancientvault_poison" : {
    "primaryDungeon" : "ancientvault_poison",
    "threatLevel" : 8,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 810,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/drosera.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "ancientvault_electric" : {
    "primaryDungeon" : "ancientvault_electric",
    "threatLevel" : 8,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 810,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/body-electric-loop.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "ancientvault_fire" : {
    "primaryDungeon" : "ancientvault_fire",
    "threatLevel" : 8,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 810,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/lava-exploration2.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "ancientvault_ice" : {
    "primaryDungeon" : "ancientvault_ice",
    "threatLevel" : 8,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 810,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/the-apex.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "playerstation" : {
    "primaryDungeon" : "playerstation",
    "threatLevel" : 6,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1650, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    // "musicTrack" : "/music/jupiter.ogg",
    "environmentStatusEffects" : ["biomeairless"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "spaceencounter" : {
    "primaryDungeon" : "spaceencounter",
    "threatLevel" : 3,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 200],
    "dungeonBaseHeight" : 150,
    "dungeonSurfaceHeight" : 150,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/lava-exploration1.ogg",
    "environmentStatusEffects" : ["biomeairless", "dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "bountyspaceencounter" : {
    "primaryDungeon" : "bountyspacesafehouse",
    "threatLevel" : 3,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 200],
    "dungeonBaseHeight" : 150,
    "dungeonSurfaceHeight" : 150,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/lava-exploration1.ogg",
    "environmentStatusEffects" : ["biomeairless", "dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "bountyshipencounter" : {
    "primaryDungeon" : "bountyshipencounter",
    "threatLevel" : 3,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 200],
    "dungeonBaseHeight" : 150,
    "dungeonSurfaceHeight" : 150,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/lava-exploration1.ogg",
    "environmentStatusEffects" : ["biomeairless", "dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "pirateship" : {
    "primaryDungeon" : "pirateship",
    "threatLevel" : 3,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1300, 200],
    "dungeonBaseHeight" : 150,
    "dungeonSurfaceHeight" : 150,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/lava-exploration1.ogg",
    "environmentStatusEffects" : ["biomeairless", "dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "researchship" : {
    "primaryDungeon" : "researchship",
    "threatLevel" : 3,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1300, 200],
    "dungeonBaseHeight" : 150,
    "dungeonSurfaceHeight" : 150,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/tranquility-base.ogg",
    "environmentStatusEffects" : ["biomeairless", "dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "merchantindustrialship" : {
    "primaryDungeon" : "merchantindustrialship",
    "threatLevel" : 3,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1300, 200],
    "dungeonBaseHeight" : 150,
    "dungeonSurfaceHeight" : 150,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/tranquility-base.ogg",
    "environmentStatusEffects" : ["biomeairless", "dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "merchantastroship" : {
    "primaryDungeon" : "merchantastroship",
    "threatLevel" : 3,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1300, 200],
    "dungeonBaseHeight" : 150,
    "dungeonSurfaceHeight" : 150,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/tranquility-base.ogg",
    "environmentStatusEffects" : ["biomeairless", "dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "penguinship" : {
    "primaryDungeon" : "penguinship",
    "threatLevel" : 3,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1300, 200],
    "dungeonBaseHeight" : 150,
    "dungeonSurfaceHeight" : 150,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/tranquility-base.ogg",
    "environmentStatusEffects" : ["biomeairless", "dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "cultistship" : {
    "primaryDungeon" : "cultistship",
    "threatLevel" : 3,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1300, 200],
    "dungeonBaseHeight" : 150,
    "dungeonSurfaceHeight" : 150,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/lava-exploration1.ogg",
    "environmentStatusEffects" : ["biomeairless", "dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "spacestation_electronics" : {
    "primaryDungeon" : "spacestation_electronics",
    "threatLevel" : 1,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/tranquility-base.ogg",
    "environmentStatusEffects" : ["biomeairless"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "spacestation_food" : {
    "primaryDungeon" : "spacestation_food",
    "threatLevel" : 1,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/tranquility-base.ogg",
    "environmentStatusEffects" : ["biomeairless"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "spacestation_medical" : {
    "primaryDungeon" : "spacestation_medical",
    "threatLevel" : 1,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/tranquility-base.ogg",
    "environmentStatusEffects" : ["biomeairless"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "spacestation_weapons" : {
    "primaryDungeon" : "spacestation_weapons",
    "threatLevel" : 1,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/tranquility-base.ogg",
    "environmentStatusEffects" : ["biomeairless"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "spacestation_peacekeeper1" : {
    "primaryDungeon" : "peacekeeperstation1",
    "threatLevel" : 1,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/the-peacekeepers.ogg",
    "environmentStatusEffects" : ["biomeairless"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "spacestation_peacekeeper2" : {
    "primaryDungeon" : "peacekeeperstation2",
    "threatLevel" : 1,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/the-peacekeepers.ogg",
    "environmentStatusEffects" : ["biomeairless"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "spacestation_peacekeeper3" : {
    "primaryDungeon" : "peacekeeperstation3",
    "threatLevel" : 1,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/the-peacekeepers.ogg",
    "environmentStatusEffects" : ["biomeairless"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "spacestation_peacekeeper4" : {
    "primaryDungeon" : "peacekeeperstation4",
    "threatLevel" : 1,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/the-peacekeepers.ogg",
    "environmentStatusEffects" : ["biomeairless"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "spacestation_peacekeeper5" : {
    "primaryDungeon" : "peacekeeperstation5",
    "threatLevel" : 1,
    "gravity" : 0,
    "airless" : true,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/the-peacekeepers.ogg",
    "environmentStatusEffects" : ["biomeairless"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "mechtestbasic" : {
    "primaryDungeon" : "mechtestbasic",
    "threatLevel" : 1,
    "gravity" : 0,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/lava-exploration1.ogg",
    "environmentStatusEffects" : ["dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "mechtestadvanced" : {
    "primaryDungeon" : "mechtestadvanced",
    "threatLevel" : 5,
    "gravity" : 0,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/lava-exploration1.ogg",
    "environmentStatusEffects" : ["dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },

  "techchallenge_doublejump" : {
    "primaryDungeon" : "techchallenge_doublejump",
    "threatLevel" : 1,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 810,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/desert-exploration2.ogg",
    "overrideTech" : ["doublejump"],
    "environmentStatusEffects" : ["dontstarve"]
  },

  "techchallenge_dash" : {
    "primaryDungeon" : "techchallenge_dash",
    "threatLevel" : 1,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 810,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/desert-exploration2.ogg",
    "overrideTech" : ["dash"],
    "environmentStatusEffects" : ["dontstarve"]
  },

  "techchallenge_morphball" : {
    "primaryDungeon" : "techchallenge_morphball",
    "threatLevel" : 1,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1000,
    "dungeonSurfaceHeight" : 810,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/desert-exploration2.ogg",
    "overrideTech" : ["distortionsphere"],
    "environmentStatusEffects" : ["dontstarve"]
  },

  "testarena" : {
    "primaryDungeon" : "testarena",
    "threatLevel" : 5,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1230,
    "dungeonSurfaceHeight" : 1000,
    "ambientLightLevel" : [32, 32, 32],
    "biome" : "jungle",
    "musicTrack" : "/music/i-was-the-sun.ogg"
  },

  "bountylair1" : {
    "primaryDungeon" : "bountylair1",
    "threatLevel" : 2,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1100,
    "dungeonSurfaceHeight" : 1000,
    "ambientLightLevel" : [32, 32, 32],
    "biome" : "desert",
    "musicTrack" : "/music/housecleaning.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "bountylair2" : {
    "primaryDungeon" : "bountylair2",
    "threatLevel" : 3,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1100,
    "dungeonSurfaceHeight" : 1000,
    "ambientLightLevel" : [32, 32, 32],
    "biome" : "snow",
    "musicTrack" : "/music/housecleaning.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  },

  "bountylair3" : {
    "primaryDungeon" : "bountylair3",
    "threatLevel" : 5,
    "gravity" : 0,
    "worldSize" : [1200, 500],
    "dungeonBaseHeight" : 300,
    "dungeonSurfaceHeight" : 300,
    "ambientLightLevel" : [32, 32, 32],
    "ambientNoises" : "/sfx/environmental/space_loop4.ogg",
    "musicTrack" : "/music/housecleaning.ogg",
    "environmentStatusEffects" : ["dontstarve"],
    "worldEdgeForceRegions" : "TopAndBottom",
    "biome" : "space"
  },


  "bountylair4" : {
    "primaryDungeon" : "bountylair4",
    "threatLevel" : 3,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonBaseHeight" : 1200,
    "dungeonSurfaceHeight" : 1000,
    "ambientLightLevel" : [32, 32, 32],
    "biome" : "scorched",
    "musicTrack" : "/music/housecleaning.ogg",
    "environmentStatusEffects" : ["dontstarve"]
  }
}
