{
  "emoteBindings" : {
    "happy" : [ ":)", "^_^", "\\o/", ":-)" ],
    "sad" : [ ":'(" ],
    "neutral" : [ ":|", ":-|", "-_-" ],
    "laugh" : [ ":D", "XD", ":-D" ],
    "annoyed" : [ ">:|", "<_<", ":(", ":-(" ],
    "oh" : [ ":o", "o.O", "O.o" ],
    "oooh" : [ ":O", "O.O" ],
    "wink" : [ ";)", ";-)" ]
  }
}
