{
  "interactivePulseRate" : 1.25,
  "interactivePulseAmount" : 0.5,

  "inspectionFlickerAmount" : 0.15,

  "maxHighlightLevel" : 0.75,
  "highlightDirectives" : {
    "interactive" : {
      "underlay" : "?outline=1;DDDDDDFF;00000000",
      "overlay" : "?fade=AAAAAAFF;0.1;"
    },
    "inspectable" : {
      "underlay" : "?outline=1;6666FFCC;00000000",
      "overlay" : "?scanlines=5555AACC;0.4;5555FFCC;0.4"
    },
    "interesting" : {
      "underlay" : "?outline=1;88FF88CC;00000000",
      "overlay" : "?scanlines=66EE66FF;0.5;55CC55FF;0.5"
    },
    "inspected" : {
      "underlay" : "?outline=1;EE9988CC;00000000",
      "overlay" : "?scanlines=BB7766FF;0.5;AA6655FF;0.5"
    }
  }
}
