{
  "randomizedDistance" : 1.0,
  "randomizedSpeed" : 5.0,
  "throwSpeed" : 30.0,
  "throwIntangibleTime" : 1.0,
  "velocity" : 60,
  "velocityApproach" : 300,
  "pickupDistance" : 1.5,
  "combineChance" : 0.02,
  "combineRadius" : 0.5,
  "afterTakenLife" : 2.0,

  "movementSettings" : {
    "enableSurfaceSlopeCorrection" : true,
    "maximumCorrection" : 5
  }
}
