{
  // Used by rendering
  "lighting" : {
    // Number of ambient spread passes.  Needs to be at least spreadMaxAir /
    // spreadMaxObstacle big, but sometimes it can stand to be a bit less and
    // you won't notice.
    "spreadPasses" : 3,

    // Maximum distance through empty space that 100% ambient light can pass through
    "spreadMaxAir" : 32,
    // Maximum distance through rock that 100% ambient light can pass through
    "spreadMaxObstacle" : 8,

    // Maximum distance through emtpy space that 100% point light can pass through
    "pointMaxAir" : 48,
    // Maximum distance through rock that 100% point light can pass through
    "pointMaxObstacle" : 9,
    // A rock attenuation boost for the first rock that a point light source hits (increases shadow effect)
    // Maximum rock distance will be pointMaxObstacle - pointObstacleBoost
    "pointObstacleBoost" : 3
  },

  // Used for gameplay
  "intensity" : {
    // Number of ambient spread passes.  Needs to be at least spreadMaxAir /
    // spreadMaxObstacle big, but sometimes it can stand to be a bit less and you
    // won't notice.
    "spreadPasses" : 2,

    // Maximum distance through empty space that 100% ambient light can pass through
    "spreadMaxAir" : 24,
    // Maximum distance through rock that 100% ambient light can pass through
    "spreadMaxObstacle" : 4,

    // Maximum distance through emtpy space that 100% point light can pass through
    "pointMaxAir" : 36,
    // Maximum distance through rock that 100% point light can pass through
    "pointMaxObstacle" : 4,
    // A rock attenuation boost for the first rock that a point light source hits (increases shadow effect)
    // Maximum rock distance will be pointMaxObstacle - pointObstacleBoost
    "pointObstacleBoost" : 1
  }
}
