{
  "liquidEngineParameters" : {
    "lateralMoveFactor" : 0.5,
    "spreadOverfillUpFactor" : 0.9,
    "spreadOverfillLateralFactor" : 0.5,
    "spreadOverfillDownFactor" : 0.3,
    "pressureEqualizeFactor" : 0.5,
    "pressureMoveFactor" : 0.5,
    "maximumPressureLevelImbalance" : 0.2,
    "minimumLivenPressureChange" : 0.002,
    "minimumLivenLevelChange" : 0.001,
    "minimumLiquidLevel" : 0.01,
    "interactTransformationLevel" : 0.2
  },

  "backgroundDrain" : 0.2
}
