// these configurable metamaterials may have IDs in the range of 65000 - 65499
// their names will be automatically prefixed with 'metamaterial:' and should not
// conflict with any of the engine-specified metamaterial names:
// empty, null, structure, biome, biome1, biome2, biome3, biome4, biome5, boundary, objectsolid, objectplatform
[
  {
    "name" : "rail",
    "materialId" : 65000,
    "collisionKind" : "none"
  },
  {
    "name" : "railstop",
    "materialId" : 65001,
    "collisionKind" : "none"
  },
  {
    "name" : "railreverse",
    "materialId" : 65002,
    "collisionKind" : "none"
  },
  {
    "name" : "railsafe",
    "materialId" : 65003,
    "collisionKind" : "none"
  },
  {
    "name" : "door",
    "materialId" : 65010,
    "collisionKind" : "dynamic"
  },
  {
    "name" : "lockedDoor",
    "materialId" : 65011,
    "collisionKind" : "block"
  },
  {
    "name" : "underwaterBoundary",
    "materialId" : 65020,
    "collisionKind" : "slippery",
    "blocksLiquidFlow" : false
  },
  {
    "name" : "expansionslot",
    "materialId" : 65030,
    "collisionKind" : "slippery"
  },
  {
    "name" : "anviladdonbase",
    "materialId" : 65050,
    "collisionKind" : "none"
  }
]
