{
  "messageDefaults" : {
    // when true, if this message is configured with a unique key, it will only
    // be shown once to a given player
    "unique" : true,

    // messages marked as 'important' will be placed at the front of the queue and
    // will close other currently visible messages when shown
    "important" : false,

    // valid types are generic, mission, quest, tutorial
    "type" : "generic",

    // body of the message
    "text" : "",

    // string prefix to be added to the line in the chat window
    "senderName" : "SAIL",

    // this should either be a full image path (starting with "/") including the frame name,
    // or just a frame name to be appended to the player's AI portrait, optionally including
    // a <frame> tag to be used for animation
    "portraitImage" : "talk.<frame>",

    // the number of frames to cycle in the <frame> tag of the image path
    "portraitFrames" : 2,

    // animation cycle time in seconds
    "portraitSpeed" : 0.25,

    // characters per second for text scrolling, 0 = instant
    "textSpeed" : 40,

    // time to persist after scrolling text has completed
    "persistTime" : 6.0,

    // sound to play as text is being scrolled in
    "chatterSound" : "/sfx/interface/aichatter1_loop.ogg"
  }
}
