{
  "rustyrail" : {
    "friction" : 4.0,
    "speedLimit" : 30
  },
  "compositerail" : {
    "friction" : 1.0,
    "speedLimit" : 60
  },
  "metamaterial:rail" : {
    "friction" : 1.0,
    "speedLimit" : 60
  },
  // the 'railsafe' metamaterial won't allow rail riders to leave the tracks
  // and will reverse if the rider cannot pass through
  "metamaterial:railsafe" : {
    "friction" : 1.0,
    "speedLimit" : 60
  },
  "metamaterial:railstop" : {
    "friction" : 1.0,
    "speedLimit" : 60
  },
  "metamaterial:railreverse" : {
    "friction" : 10.0,
    "speedLimit" : 60
  }
}
