{
  "chunkCacheTimeout" : 1000,
  "textureTimeout" : 10000,

  "preloadTextureChance" : 0.05,

  "backgroundLayerColor" : [128, 128, 128],
  "foregroundLayerColor" : [255, 255, 255],

  "liquidDrawLevels" : [0.05, 0.95],

  "textParticleFontSize" : 12.0,

  // padding (in pixels) around the window where particles will be drawn
  "particleRenderWindowPadding" : 64,

  "lightMapMultiplier" : 1.275,

  "entityBarOffset" : [ -1.25, 2.5 ],
  "entityBarSpacing" : [ 0, 1 ],
  "entityBarSize" : [ 2.5, 0.25 ],
  "entityBarIconOffset" : [ -1.5, 0 ]
}
