{
  "keys" : {
    "a" : [1, 0, 0, 1, 1, 0, 0],
    "a#m" : "c#",
    "ab" : [0, -1, -1, 0, 0, -1, -1],
    "abm" : "cb",
    "abmaj" : "ab",
    "am" : "c",
    "amaj" : "a",
    "b" : [1, 1, 0, 1, 1, 1, 0],
    "bb" : [0, 0, -1, 0, 0, 0, -1],
    "bbm" : "db",
    "bbmaj" : "bb",
    "bm" : "d",
    "bmaj" : "b",
    "c" : [0, 0, 0, 0, 0, 0, 0],
    "c#" : [1, 1, 1, 1, 1, 1, 1],
    "c#m" : "e",
    "c#maj" : "c#",
    "cb" : [-1, -1, -1, -1, -1, -1, -1],
    "cbmaj" : "cb",
    "cm" : "eb",
    "cmaj" : "c",
    "d" : [1, 0, 0, 1, 0, 0, 0],
    "d#m" : "f#",
    "db" : [0, -1, -1, 0, -1, -1, -1],
    "dbmaj" : "db",
    "dm" : "f",
    "dmaj" : "d",
    "e" : [1, 1, 0, 1, 1, 0, 0],
    "eb" : [0, 0, -1, 0, 0, -1, -1],
    "ebm" : "gb",
    "ebmaj" : "eb",
    "em" : "g",
    "emaj" : "e",
    "f" : [0, 0, 0, 0, 0, 0, -1],
    "f#" : [1, 1, 1, 1, 1, 1, 0],
    "f#m" : "a",
    "f#maj" : "f#",
    "fm" : "ab",
    "fmaj" : "f",
    "g" : [0, 0, 0, 1, 0, 0, 0],
    "g#m" : "b",
    "gb" : [-1, -1, -1, 0, -1, -1, -1],
    "gbmaj" : "gb",
    "gm" : "bb",
    "gmaj" : "g"
  }
}
