{
  "debug" : false,

  "spawnCellSize" : 8,
  "spawnCellMinimumEmptyTiles" : 20,
  "spawnCellMinimumLiquidTiles" : 20,
  "spawnCellMinimumNearCeilingTiles" : 6,
  "spawnCellMinimumNearSurfaceTiles" : 6,
  "spawnCellMinimumAirTiles" : 40,
  "spawnCellMinimumExposedTiles" : 30,
  "spawnCellNearSurfaceDistance" : 2,
  "spawnCellNearCeilingDistance" : 2,

  "minimumDayLevel" : 0.2,
  "minimumLiquidLevel" : 0.9,
  "spawnCheckResolution" : 1.0,
  "spawnSurfaceCheckDistance" : 3,
  "spawnCeilingCheckDistance" : 0,
  "spawnProhibitedCheckPadding" : 2,

  "spawnCellLifetime" : 30.0,
  "windowActivationBorder" : 32,

  "defaultActive" : true,

  "spawnGroups" : {
    "default" : [],

    "generatedFlying" : [
      [1.00, "passiveSmallFlyingDay"]
    ],

    "generatedGround" : [
      [0.5, "passiveSmallBipedDay"],
      [0.5, "passiveSmallQuadrupedDay"]
    ],

    "nightTerrors" : [
      [0.33, "aggroSmallFlyingNight"],
      [0.33, "aggroLargeBipedNight"],
      [0.33, "aggroLargeQuadrupedNight"]
    ],

    "generatedGroundAggroDay" : [
      [0.50, "aggroSmallQuadruped"],
      [0.50, "aggroSmallBiped"]
    ]
  }
}
