{
  // how fast do planets orbit stars
  "starGravitationalConstant" : 10.0,
  // how fast do moons orbit planets
  "planetGravitationalConstant" : 1.0,

  // map of planet block width to system coordinate size
  "planetSizes" : [
    [0, 2],
    [1000, 2],
    [3000, 4],
    [4000, 8],
    [6000, 12],
    [10000, 24]
  ],
  "emptyOrbitSize" : 4.0,
  "unvisitablePlanetSize" : 12.0,
  "floatingDungeonWorldSizes" : {
    "ancientgateway" : 12
  },

  "starSize" : 50.0,
  "planetaryOrbitPadding" : [5.0, 5.0],
  "satelliteOrbitPadding" : [2.0, 2.0],

  // range at which to arrive in a new system after interstellar travel
  "arrivalRange" : [120.0, 140.0],

  "clientShip" : {
    "speed" : 30.0,
    "orbitDistance" : 1.0,
    "departTime" : 3.0,
    "spaceDepartTime" : 0.5
  },

  // keep this distance from other orbits
  "objectSpawnPadding" : 4,
  "clientObjectSpawnPadding" : 5,
  // pool of locations for static space structures
  "initialObjectPools" : [
    [0.5, [1, [
      [0.25, "spacestation_electronics"],
      [0.25, "spacestation_food"],
      [0.25, "spacestation_medical"],
      [0.25, "spacestation_weapons"]
    ]]],
    [0.5, [0, []]]
  ],

  //
  // pool of temp locations
  "objectSpawnInterval" : [480, 720],
  // estimated time for a full cycle of objects to appear or disappear
  // used to spawn an initial set of temporary objects
  "objectSpawnCycle" : 1800, 
  "minObjectOrbitTime" : 180,
  "objectSpawnPool" : [
    [0.25, "pirateship"],
    [0.02, "cultistship"],
    [0.1, "researchship"],
    [0.02, "penguinship"],
    [0.08, "merchantindustrialship"],
    [0.08, "merchantastroship"],
    [1.0, "anomaly"]
  ],

  "asteroidBeamDistance" : 5,

  "emptySkyParameters" : {
    "seed" : 0,
    "skyType" : "space",
    "horizonClouds" : false
  }
}
