{
  // if true, parallax can transition between different biome regions within a layer
  "useSecondaryEnvironmentBiomeIndex" : false,

  // first stage, default parameters common to all worlds
  "planetDefaults" : {
    "blockNoise" : {
      "horizontalNoise" : {
        "type" : "Perlin",
        "octaves" : 5,
        "frequency" : 0.0017,
        "amplitude" : 200,
        "alpha" : 1.4,
        "beta" : 2.0
      },

      "verticalNoise" : {
        "type" : "Perlin",
        "octaves" : 5,
        "frequency" : 0.002,
        "amplitude" : 80,
        "alpha" : 1.6,
        "beta" : 2.0
      },

      "noise" : {
        "type" : "Perlin",
        "octaves" : 2,
        "frequency" : 0.1,
        "amplitude" : 8.0,
        "alpha" : 1.8,
        "beta" : 2.0
      }
    },
    "blendNoise" : {
      "type" : "Perlin",
      "octaves" : 3,
      "frequency" : 0.23,
      "amplitude" : 85.0,
      "alpha" : 1.8,
      "beta" : 2.1
    },
    "blendSize" : 80,

    // no default for size

    "dayLengthRange" : [700, 1000],
    "gravityRange" : [100, 100],

    "worldEdgeForceRegions" : "Top",

    "threatRange" : [1, 7],

    // base configuration for all layers
    "layerDefaults" : {
      // whether to generate this layer at all
      "enabled" : true,

      // y level of layer start
      "layerLevel" : 0,

      // y level of layer 'center' used by terrain, parallax, ocean
      "baseHeight" : 0,

      // no default for primaryRegion since it should fail without one
      //"primaryRegion" : [],

      // empty list means that no secondary regions will be selected
      "secondaryRegions" : [],

      // range for how many secondary regions should be spawned in addition to the primary region
      "secondaryRegionCount" : [1, 1],

      // range for the size of each secondary region relative to the size of the primary region
      "secondaryRegionSize" : [0.5, 0.8],

      // range for the size of a subregion relative to the total size of its containing region
      // (including the subregion, so size 0.5 would be equal parts region and subregion)
      "subRegionSize" : [0.25, 0.4],

      "dungeons" : [],
      "dungeonCountRange" : [0, 0],

      // dungeon anchor pieces will be equally spaced around the layer,
      // offset by up to this value
      "dungeonXVariance" : 500
    },

    // these are merged on top of layerDefaults AFTER planet size merge
    "layers" : {
      "space" : {
        "primaryRegion" : ["asteroids"]
      },
      "atmosphere" : {
        "primaryRegion" : ["atmosphere"]
      },
      "surface" : {
        "primaryRegion" : ["barren"]
      },
      "subsurface" : {
        "primaryRegion" : ["subsurface"]
      },
      "underground1" : {
        "primaryRegion" : ["shallowunderground"]
      },
      "underground2" : {
        "primaryRegion" : ["midunderground"]
      },
      "underground3" : {
        "primaryRegion" : ["deepunderground"]
      },
      "core" : {
        "primaryRegion" : ["core"]
      }
    }
  },

  // second stage, merged on top of defaults
  "planetSizes" : {
    "verysmall" : {
      "size" : [1000, 2000],

      "gravityRange" : [80, 80],

      "layerDefaults" : {
        "secondaryRegionCount" : [0, 0],
        "dungeonCountRange" : [1, 1]
      },

      "layers" : {
        "space" : {
          "baseHeight" : 1850,
          "layerLevel" : 1700
        },
        "atmosphere" : {
          "baseHeight" : 1400,
          "layerLevel" : 1100
        },
        "surface" : {
          "baseHeight" : 675,
          "layerLevel" : 600
        },
        "subsurface" : {
          "baseHeight" : 550,
          "layerLevel" : 500
        },
        "underground1" : {
          "baseHeight" : 450,
          "layerLevel" : 400
        },
        "underground2" : {
          "baseHeight" : 350,
          "layerLevel" : 300
        },
        "underground3" : {
          "baseHeight" : 250,
          "layerLevel" : 200
        },
        "core" : {
          "baseHeight" : 50,
          "layerLevel" : 0
        }
      }
    },
    "small" : {
      "size" : [3000, 2000],

      "gravityRange" : [80, 80],

      "layerDefaults" : {
        "secondaryRegionCount" : [1, 1],
        "dungeonCountRange" : [1, 1]
      },

      "layers" : {
        "space" : {
          "baseHeight" : 1850,
          "layerLevel" : 1700
        },
        "atmosphere" : {
          "baseHeight" : 1400,
          "layerLevel" : 1100
        },
        "surface" : {
          "baseHeight" : 675,
          "layerLevel" : 600
        },
        "subsurface" : {
          "baseHeight" : 550,
          "layerLevel" : 500
        },
        "underground1" : {
          "baseHeight" : 450,
          "layerLevel" : 400
        },
        "underground2" : {
          "baseHeight" : 350,
          "layerLevel" : 300
        },
        "underground3" : {
          "baseHeight" : 250,
          "layerLevel" : 200
        },
        "core" : {
          "baseHeight" : 50,
          "layerLevel" : 0
        }
      }
    },
    "medium" : {
      "size" : [4000, 3000],

      "gravityRange" : [80, 80],

      "layerDefaults" : {
        "secondaryRegionCount" : [1, 2],
        "dungeonCountRange" : [1, 2]
      },

      "layers" : {
        "space" : {
          "baseHeight" : 2500,
          "layerLevel" : 2000
        },
        "atmosphere" : {
          "baseHeight" : 1700,
          "layerLevel" : 1400
        },
        "surface" : {
          "baseHeight" : 1000,
          "layerLevel" : 900
        },
        "subsurface" : {
          "baseHeight" : 850,
          "layerLevel" : 800
        },
        "underground1" : {
          "baseHeight" : 700,
          "layerLevel" : 600
        },
        "underground2" : {
          "baseHeight" : 500,
          "layerLevel" : 400
        },
        "underground3" : {
          "baseHeight" : 300,
          "layerLevel" : 200
        },
        "core" : {
          "baseHeight" : 50,
          "layerLevel" : 0
        }
      }
    },
    "large" : {
      "size" : [6000, 3000],

      "gravityRange" : [80, 80],

      "layerDefaults" : {
        "secondaryRegionCount" : [1, 2],
        "dungeonCountRange" : [2, 3]
      },

      "layers" : {
        "space" : {
          "baseHeight" : 2500,
          "layerLevel" : 2000
        },
        "atmosphere" : {
          "baseHeight" : 1700,
          "layerLevel" : 1400
        },
        "surface" : {
          "baseHeight" : 1000,
          "layerLevel" : 900
        },
        "subsurface" : {
          "baseHeight" : 850,
          "layerLevel" : 800
        },
        "underground1" : {
          "baseHeight" : 700,
          "layerLevel" : 600
        },
        "underground2" : {
          "baseHeight" : 500,
          "layerLevel" : 400
        },
        "underground3" : {
          "baseHeight" : 300,
          "layerLevel" : 200
        },
        "core" : {
          "baseHeight" : 50,
          "layerLevel" : 0
        }
      }
    }
  },

  // third stage, merged on top of planet size and defaults
  "planetTypes" : {
    "garden" : {
      "threatRange" : [1, 1],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["garden"],
          "secondaryRegions" : ["forest"],
          "dungeonCountRange" : [2, 2],
          "dungeons" : [[1.0, "naturalcave"], [1.0, "gardengate"]]
        }
      }
    },

    "forest" : {
      "threatRange" : [2, 2],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["forest"],
          "secondaryRegions" : ["garden", "jungle" ],
          "dungeons" :
          [[1.0, "apextestfacility"], [1.0, "apexbase"], [1.0, "apexcamp"], [1.0, "apexcity"],
          [1.0, "aviantemple"], [1.0, "aviantomb"], [1.0, "avianvillage"], [1.0, "aviannativevillage"],  [1.0, "avianairship"],
          [4.0, "floranhuntinggrounds"], [4.0, "florancanyon"], [4.0, "floranvillagetower"], [4.0, "floranhutvillage"],
          [1.0, "dungeoncrawler"], [1.0, "evilfortress"], [1.0, "glitchcastle"], [1.0, "glitchvillage"],
          [1.0, "hylotlruinedcastle"], [1.0, "hylotlcity"],
          [1.0, "humanprison"], [1.0, "humancamp"],
          [1.0, "glitchsewer"], [1.0, "novakidvillage"]
          ]
        }
      }
    },
    "desert" : {
      "threatRange" : [2, 2],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["desert"],
          "secondaryRegions" : [ "barren", "savannah" ],
          "dungeons" :
          [[1.0, "apextestfacility"], [1.0, "apexbase"], [1.0, "apexcamp"], [1.0, "apexcity"],
          [1.0, "aviantemple"], [1.0, "aviantomb"], [1.0, "avianvillage"], [1.0, "aviannativevillage"],  [1.0, "avianairship"],
          [1.0, "floranhuntinggrounds"], [1.0, "florancanyon"], [1.0, "floranvillagetower"], [1.0, "floranhutvillage"],
          [1.0, "dungeoncrawler"], [1.0, "evilfortress"], [1.0, "glitchcastle"], [1.0, "glitchvillage"],
          [1.0, "hylotlruinedcastle"], [1.0, "hylotlcity"],
          [1.0, "humanprison"], [1.0, "humancamp"],
          [1.0, "glitchsewer"], [1.0, "novakidvillage"]
          ]
        },
        "subsurface" : {
          "primaryRegion" : ["desertsubsurface"]
        }
      }
    },

    "ocean" : {
      "blendSize" : 30,
      "threatRange" : [3, 3],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["ocean"],
          "baseHeight" : 1150,
          "layerLevel" : 1050
        },
        "subsurface" : {
          "primaryRegion" : ["oceanfloor"],
          "dungeons" : [[1.0, "hylotloceancity"], [1.0, "hylotlruinedcity"]]
        }
      }
    },
    "savannah" : {
      "threatRange" : [3, 3],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["savannah"],
          "secondaryRegions" : [ "garden", "barren", "desert", "forest" ],
          "dungeons" :
          [[1.0, "apextestfacility"], [1.0, "apexbase"], [1.0, "apexcamp"], [1.0, "apexcity"],
          [1.0, "aviantemple"], [1.0, "aviantomb"], [1.0, "avianvillage"], [1.0, "aviannativevillage"],  [1.0, "avianairship"],
          [1.0, "floranhuntinggrounds"], [1.0, "florancanyon"], [1.0, "floranvillagetower"], [1.0, "floranhutvillage"],
          [1.0, "dungeoncrawler"], [1.0, "evilfortress"], [1.0, "glitchcastle"], [1.0, "glitchvillage"],
          [1.0, "hylotlruinedcastle"], [1.0, "hylotlcity"],
          [1.0, "humanprison"], [1.0, "humancamp"],
          [1.0, "glitchsewer"], [1.0, "novakidvillage"]
          ]
        }
      }
    },
    "snow" : {
      "threatRange" : [3, 3],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["snow"],
          "secondaryRegions" : [ "garden", "forest" ],
          "dungeons" :
          [[1.0, "apextestfacility"], [1.0, "apexbase"], [1.0, "apexcamp"], [1.0, "apexcity"],
          [1.0, "aviantemple"], [1.0, "aviantomb"], [1.0, "avianvillage"], [1.0, "aviannativevillage"],  [1.0, "avianairship"],
          [1.0, "floranhuntinggrounds"], [1.0, "florancanyon"], [1.0, "floranvillagetower"], [1.0, "floranhutvillage"],
          [1.0, "dungeoncrawler"], [1.0, "evilfortress"], [1.0, "glitchcastle"], [1.0, "glitchvillage"],
          [1.0, "hylotlruinedcastle"], [1.0, "hylotlcity"],
          [1.0, "humanprison"], [1.0, "humancamp"],
          [1.0, "glitchsewer"], [1.0, "novakidvillage"]
          ]
        }
      }
    },

    "jungle" : {
      "threatRange" : [4, 4],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["jungle"],
          "secondaryRegions" : [ "savannah", "forest", "alien", "garden"],
          "dungeons" :
          [[1.0, "apextestfacility"], [1.0, "apexbase"], [1.0, "apexcamp"], [1.0, "apexcity"],
          [4.0, "aviantemple"], [4.0, "aviantomb"], [4.0, "avianvillage"], [4.0, "aviannativevillage"],  [4.0, "avianairship"],
          [1.0, "floranhuntinggrounds"], [1.0, "florancanyon"], [1.0, "floranvillagetower"], [1.0, "floranhutvillage"],
          [1.0, "dungeoncrawler"], [1.0, "evilfortress"], [1.0, "glitchcastle"], [1.0, "glitchvillage"],
          [1.0, "hylotlruinedcastle"], [1.0, "hylotlcity"],
          [1.0, "humanprison"], [1.0, "humancamp"],
          [1.0, "glitchsewer"], [1.0, "novakidvillage"]
          ]
        }
      }
    },
    "toxic" : {
      "blendSize" : 30,
      "threatRange" : [4, 4],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["toxic"],
          "baseHeight" : 1150,
          "layerLevel" : 1050
        },
        "subsurface" : {
          "primaryRegion" : ["toxicoceanfloor"]
        }
      }
    },
    "alien" : {
      "threatRange" : [4, 4],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["alien"],
          "secondaryRegions" : ["jungle", "savannah", "forest"],
          "dungeons" :
          [[1.0, "apextestfacility"], [1.0, "apexbase"], [1.0, "apexcamp"], [1.0, "apexcity"],
          [1.0, "aviantemple"], [1.0, "aviantomb"], [1.0, "avianvillage"], [1.0, "aviannativevillage"],  [1.0, "avianairship"],
          [1.0, "floranhuntinggrounds"], [1.0, "florancanyon"], [1.0, "floranvillagetower"], [1.0, "floranhutvillage"],
          [1.0, "dungeoncrawler"], [1.0, "evilfortress"], [1.0, "glitchcastle"], [1.0, "glitchvillage"],
          [1.0, "hylotlruinedcastle"], [1.0, "hylotlcity"],
          [1.0, "humanprison"], [1.0, "humancamp"],
          [1.0, "glitchsewer"], [1.0, "novakidvillage"]
          ]
        }
      }
    },

    "arctic" : {
      "blendSize" : 30,
      "threatRange" : [5, 5],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["arctic"],
          "baseHeight" : 1150,
          "layerLevel" : 1050
        },
        "subsurface" : {
          "primaryRegion" : ["arcticoceanfloor"]
        }
      }
    },
    "tundra" : {
      "threatRange" : [5, 5],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["tundra"],
          "secondaryRegions" : [ "garden", "forest", "snow", "midnight", "scorchedcity" ],
          "dungeons" :
          [[4.0, "apextestfacility"], [4.0, "apexbase"], [4.0, "apexcamp"], [4.0, "apexcity"],
          [1.0, "aviantemple"], [1.0, "aviantomb"], [1.0, "avianvillage"], [1.0, "aviannativevillage"],  [1.0, "avianairship"],
          [1.0, "floranhuntinggrounds"], [1.0, "florancanyon"], [1.0, "floranvillagetower"], [1.0, "floranhutvillage"],
          [1.0, "dungeoncrawler"], [1.0, "evilfortress"], [1.0, "glitchcastle"], [1.0, "glitchvillage"],
          [1.0, "hylotlruinedcastle"], [1.0, "hylotlcity"],
          [1.0, "humanprison"], [1.0, "humancamp"],
          [1.0, "glitchsewer"], [1.0, "novakidvillage"]
          ]
        }
      }
    },
    "midnight" : {
      "threatRange" : [5, 5],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["midnight"],
          "secondaryRegions" : [ "desert", "tundra", "forest", "snow", "barren" ],
          "dungeons" :
          [[1.0, "apextestfacility"], [1.0, "apexbase"], [1.0, "apexcamp"], [1.0, "apexcity"],
          [1.0, "aviantemple"], [1.0, "aviantomb"], [1.0, "avianvillage"], [1.0, "aviannativevillage"],  [1.0, "avianairship"],
          [1.0, "floranhuntinggrounds"], [1.0, "florancanyon"], [1.0, "floranvillagetower"], [1.0, "floranhutvillage"],
          [1.0, "dungeoncrawler"], [1.0, "evilfortress"], [1.0, "glitchcastle"], [1.0, "glitchvillage"],
          [1.0, "hylotlruinedcastle"], [1.0, "hylotlcity"],
          [1.0, "humanprison"], [1.0, "humancamp"],
          [1.0, "glitchsewer"], [1.0, "novakidvillage"]
          ]
        }
      }
    },

    "volcanic" : {
      "threatRange" : [6, 6],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["volcanic"],
          "secondaryRegions" : [ "midnight", "desert", "scorchedcity", "forest" ],
          "dungeons" :
          [[1.0, "apextestfacility"], [1.0, "apexbase"], [1.0, "apexcamp"], [1.0, "apexcity"],
          [1.0, "aviantemple"], [1.0, "aviantomb"], [1.0, "avianvillage"], [1.0, "aviannativevillage"],  [1.0, "avianairship"],
          [1.0, "floranhuntinggrounds"], [1.0, "florancanyon"], [1.0, "floranvillagetower"], [1.0, "floranhutvillage"],
          [4.0, "dungeoncrawler"], [4.0, "evilfortress"], [4.0, "glitchcastle"], [4.0, "glitchvillage"],
          [1.0, "hylotlruinedcastle"], [1.0, "hylotlcity"],
          [1.0, "humanprison"], [1.0, "humancamp"],
          [1.0, "glitchsewer"], [1.0, "novakidvillage"]
          ]
        }
      }
    },
    "magma" : {
      "blendSize" : 30,
      "threatRange" : [6, 6],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["magma"],
          "baseHeight" : 1150,
          "layerLevel" : 1050
        },
        "subsurface" : {
          "primaryRegion" : ["magmaoceanfloor"]
        }
      }
    },
    "scorchedcity" : {
      "threatRange" : [6, 6],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["scorchedcity"],
          "secondaryRegions" : [ "volcanic", "midnight" ],
          "dungeons" :
          [[1.0, "apextestfacility"], [1.0, "apexbase"], [1.0, "apexcamp"], [1.0, "apexcity"],
          [1.0, "aviantemple"], [1.0, "aviantomb"], [1.0, "avianvillage"], [1.0, "aviannativevillage"],  [1.0, "avianairship"],
          [1.0, "floranhuntinggrounds"], [1.0, "florancanyon"], [1.0, "floranvillagetower"], [1.0, "floranhutvillage"],
          [1.0, "dungeoncrawler"], [1.0, "evilfortress"], [1.0, "glitchcastle"], [1.0, "glitchvillage"],
          [1.0, "hylotlruinedcastle"], [1.0, "hylotlcity"],
          [1.0, "humanprison"], [1.0, "humancamp"],
          [1.0, "glitchsewer"], [1.0, "novakidvillage"]
          ]
        }
      }
    },

    "moon" : {
      "gravityRange" : [20, 20],
      "threatRange" : [1, 1],
      "layers" : {
        "space" : {
          "primaryRegion" : ["barrenasteroids"]
        },
        "atmosphere" : {
          "primaryRegion" : ["void"]
        },
        "surface" : {
          "primaryRegion" : ["moon"]
        },
        "subsurface" : {
          "primaryRegion" : ["moonunderground"]
        },
        "underground1" : {
          "primaryRegion" : ["moonunderground"],
          "secondaryRegions" : []
        },
        "underground2" : {
          "primaryRegion" : ["moonunderground"],
          "secondaryRegions" : []
        },
        "underground3" : {
          "primaryRegion" : ["moonunderground"],
          "secondaryRegions" : []
        },
        "core" : {
          "primaryRegion" : ["mooncore"],
          "baseHeight" : 150
        }
      }
    },

    "barren" : {
      "threatRange" : [1, 1],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["barren"]
        },
        "subsurface" : {
          "primaryRegion" : ["barrenunderground"]
        },
        "underground1" : {
          "primaryRegion" : ["barrenunderground"],
          "secondaryRegions" : []
        },
        "underground2" : {
          "primaryRegion" : ["barrenunderground"],
          "secondaryRegions" : []
        },
        "underground3" : {
          "primaryRegion" : ["barrenunderground"],
          "secondaryRegions" : []
        },
        "core" : {
          "primaryRegion" : ["barrenunderground"]
        }
      }
    },

    "tentacle" : {
      "threatRange" : [6, 6],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["tentacle"],
          "dungeons" : []
        },
        "subsurface" : {
          "primaryRegion" : ["tentacleundergroundtentacles"]
        },
        "underground1" : {
          "primaryRegion" : ["tentacleundergroundtentacles"],
          "secondaryRegions" : []
        },
        "underground2" : {
          "primaryRegion" : ["tentacleundergroundceiling"],
          "secondaryRegions" : []
        },
        "underground3" : {
          "primaryRegion" : ["tentacleundergroundfloor"],
          "secondaryRegions" : [],
          "dungeons" : [[1.0, "tentacleboss"]],
          "dungeonCountRange" : [1, 1]
        },
        "core" : {
          "primaryRegion" : ["tentacleundergroundcore"],
          "secondaryRegions" : []
        }
      }
    },

    "cyberspace" : {
      "threatRange" : [6, 6],
      "globalDirectives" : [
        "?fade=000000=1.0?scanlines=51BD51FF;0.1;000000FF;1.0?border=2;51BD51FF;51BD5100",
        "?fade=000000=1.0?scanlines=51BDBDFF;0.1;000000FF;1.0?border=2;51BDBDFF;51BD5100",
        "?fade=000000=1.0?scanlines=5151BDFF;0.1;000000FF;1.0?border=2;5151BDFF;51BD5100",
        "?fade=000000=1.0?scanlines=BD51BDFF;0.1;000000FF;1.0?border=2;BD51BDFF;51BD5100",
        "?fade=000000=1.0?scanlines=BD5151FF;0.1;000000FF;1.0?border=2;BD5151FF;51BD5100",
        "?fade=000000=1.0?scanlines=BDBD51FF;0.1;000000FF;1.0?border=2;BDBD51FF;51BD5100"
      ],
      "layers" : {
        "surface" : {
          "primaryRegion" : ["cyberspace"],
           "dungeonCountRange" : [2, 2],
          "dungeons" : [[1.0, "start_cyberspace"], [1.0, "cyberdungeon"]]
        },
        "subsurface" : {
          "primaryRegion" : ["void"]
        },
        "underground1" : {
          "primaryRegion" : ["void"],
          "secondaryRegions" : []
        },
        "underground2" : {
          "primaryRegion" : ["void"],
          "secondaryRegions" : []
        },
        "underground3" : {
          "primaryRegion" : ["void"],
          "secondaryRegions" : []
        },
        "core" : {
          "primaryRegion" : ["void"],
          "secondaryRegions" : []
        }
      }
    }
  },

  "regionDefaults" : {
    // applies separately to each horizontal region
    "blockSelector" : ["solid"],

    // these apply to the whole layer
    "fgCaveSelector" : ["normalCaves"],
    "bgCaveSelector" : ["backgroundCaves"],

    "fgOreSelector" : ["normalVeins"],
    "bgOreSelector" : ["normalBackgroundVeins"],

    "subBlockSelector" : ["largeClumps"],

    "oceanLiquid" : [], // empty for no ocean
    "oceanLevelOffset" : 0, // relative to baseHeight of the layer
    "encloseLiquids" : false, // whether oceans and surface/cave pools should have background tiles added
    "fillMicrodungeons" : false, // whether cave liquid can be placed inside microdungeons

    "caveLiquid" : [], // can be empty for no liquid
    "caveLiquidSeedDensityRange" : [1.0, 1.5],

    "subRegion" : []
  },

  // fourth stage, the selected regions will be merged onto the merged configuration for the layer they are placed in
  "regionTypes" : {

    // space and sky

    "asteroids" : {
      "blockSelector" : [ "asteroids" ],
      "fgCaveSelector" : [ "empty" ],
      "biome" : [
        [1, [ "asteroids" ]]
      ]
    },

    "barrenasteroids" : {
      "blockSelector" : [ "asteroids" ],
      "fgCaveSelector" : [ "empty" ],
      "biome" : [
        [1, [ "barrenasteroids" ]]
      ]
    },

    "atmosphere" : {
      "blockSelector" : [ "empty" ],
      "biome" : [
        [1, [ "atmosphere" ]]
      ]
    },

    "void" : {
      "blockSelector" : [ "empty" ],
      "biome" : [
        [1, [ "void" ]]
      ]
    },

    // surface and subsurface

    "garden" : {
      "caveLiquid" : [ "water" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "garden" ]]
      ],
      "subRegion" : [ ]
    },

    "forest" : {
      "caveLiquid" : [ "water" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "forest" ]]
      ],
      "subRegion" : ["spring", "mushroom", "giantflowers", "swamp", "alpine"]
    },

    "desert" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "desert" ]]
      ],
      "subRegion" : ["oasis", "tar", "colourful", "bones"]
    },

    "savannah" : {
      "caveLiquid" : [ "water" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "savannah" ]]
      ],
      "subRegion" : ["colourful", "bones", "tar"]
    },

    "snow" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "snow" ]]
      ],
      "subRegion" : ["bioluminescence", "alpine", "prism", "steamspring"]
    },

    "ocean" : {
      "oceanLiquid" : [ "water" ],
      "blockSelector" : [ "remixedIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "ocean" ]]
      ]
    },

    "oceanfloor" : {
      "oceanLiquid" : [ "water" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "oceanfloor" ]]
      ]
    },

    "jungle" : {
      "caveLiquid" : [ "water", "poison" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "jungle" ]]
      ],
      "subRegion" : ["swamp", "giantflowers", "mushroom", "eyepatch"]
    },

    "alien" : {
      "caveLiquid" : [ "water", "poison" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "alien" ]]
      ],
      "subRegion" : ["eyepatch", "flesh"]
    },

    "toxic" : {
      "oceanLiquid" : [ "poison" ],
      "blockSelector" : [ "remixedFlatIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ "poison" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "toxic" ]]
      ]
    },

    "toxicoceanfloor" : {
      "oceanLiquid" : [ "poison" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "toxicoceanfloor" ]]
      ]
    },

    "tundra" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "tundra" ]]
      ],
      "subRegion" : ["steamspring", "prism", "alpine", "bioluminescence"]
    },

    "arctic" : {
      "oceanLiquid" : [ "water" ],
      "blockSelector" : [ "remixedIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "arctic" ]]
      ]
    },

    "arcticoceanfloor" : {
      "oceanLiquid" : [ "water" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "arcticoceanfloor" ]]
      ]
    },

    "midnight" : {
      "caveLiquid" : [ "water" ],
      "caveLiquidSeedDensityRange" : [1, 3],
      "encloseLiquids" : true,
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "midnight" ]]
      ],
      "subRegion" : ["hive", "bioluminescence"]
    },

    "volcanic" : {
      "caveLiquid" : [ "lava" ],
      "caveLiquidSeedDensityRange" : [1, 3],
      "encloseLiquids" : true,
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "volcanic" ]]
      ],
      "subRegion" : ["geode", "rust", "bones"]
    },

    "scorchedcity" : {
      "caveLiquid" : [ "tarliquid" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "scorchedcity" ]]
      ],
      "subRegion" : []
    },

    "magma" : {
      "oceanLiquid" : [ "lava" ],
      "blockSelector" : [ "remixedIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "magma" ]]
      ]
    },

    "magmaoceanfloor" : {
      "oceanLiquid" : [ "lava" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "magmaoceanfloor" ]]
      ]
    },

    "moon" : {
      "blockSelector" : [ "remixedSurface" ],
      "fgCaveSelector" : [ "moonSurfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "moon" ]]
      ]
    },

    "barren" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "barren" ]]
      ]
    },

    "tentacle" : {
      "caveLiquid" : [ "poison" ],
      "caveLiquidSeedDensityRange" : [10, 10],
      "encloseLiquids" : true,
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "tentacle" ]]
      ]
    },

    "cyberspace" : {
      "blockSelector" : [ "remixedFlatsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "cyberspace" ]]
      ]
    },

    // surface subregions

    "spring" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "spring" ]]
      ]
    },

    "mushroom" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "mushroompatch" ]]
      ]
    },

    "oasis" : {
      "blockSelector" : [ "remixedPoolsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ "healingliquid" ],
      "caveLiquidSeedDensityRange" : [20, 20],
      "encloseLiquids" : true,
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "oasis" ]]
      ]
    },

    "tar" : {
      "blockSelector" : [ "remixedPoolsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ "tarliquid" ],
      "caveLiquidSeedDensityRange" : [20, 20],
      "encloseLiquids" : true,
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "tar" ]]
      ]
    },

    "swamp" : {
      "caveLiquid" : [ "swampwater" ],
      "caveLiquidSeedDensityRange" : [20, 20],
      "encloseLiquids" : true,
      "fillMicrodungeons" : true,
      "blockSelector" : [ "remixedSwampySurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "swamp" ]]
      ]
    },

    "alpine" : {
      "blockSelector" : [ "remixedMountainsSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "alpine" ]]
      ]
    },

    "bioluminescence" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "bioluminescence" ]]
      ]
    },

    "colourful" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "colourful" ]]
      ]
    },

    "prism" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "biome" : [
        [0, [ "prism" ]]
      ]
    },

    "steamspring" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "biome" : [
        [0, [ "steamspring" ]]
      ]
    },

    "hive" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "biome" : [
        [0, [ "hive" ]]
      ]
    },

    "bones" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "bones" ]]
      ]
    },

    "giantflowers" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "giantflowers" ]]
      ]
    },

    "eyepatch" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "eyepatch" ]]
      ]
    },

    "flesh" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "flesh" ]]
      ]
    },

    "ice" : {
      "blockSelector" : [ "remixedSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "ice" ]]
      ]
    },

    "rust" : {
      "caveLiquidSeedDensityRange" : [1, 2],
      "encloseLiquids" : true,
      "blockSelector" : [ "remixedStepsSurfaceLarge" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "rust" ]]
      ]
    },

    "geode" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "geode" ]]
      ]
    },

    // underground

    "subsurface" : {
      "caveLiquid" : [ "water" ],
      "biome" : [
        [1, [ "underground0a", "underground0b" ] ],
        [2, [ "underground0a", "underground0b", "underground1a", "underground1b" ] ]
      ]
    },

    "shallowunderground" : {
      "caveLiquid" : [ "water" ],
      "biome" : [
        [1, [ "underground0a", "underground0b" ] ],
        [2, [ "underground0a", "underground0b", "underground1a", "underground1b" ] ]
      ],
      "subRegion" : ["tarunderground", "mushroomunderground", "wildernessunderground", "minivillageunderground"]
    },

    "midunderground" : {
      "caveLiquid" : [ "water" ],
      "biome" : [
        [1, [ "underground0c" ] ],
        [2, [ "underground1c", "underground1d", "underground3a", "underground3b", "underground3c", "underground3d", "underground0c" ]]
      ],
      "subRegion" : ["luminouscaves", "stonecaves", "bonecaves", "icecaves"]
    },

    "deepunderground" : {
      "caveLiquid" : [ "water" ],
      "caveLiquidSeedDensityRange" : [0.5, 1.0],
      "biome" : [
        [1, [ "underground0d" ] ],
        [2, [ "underground5a", "underground5b", "underground5c", "underground5d", "underground0d" ]]
      ],
      "subRegion" : ["cellcaves", "fleshcaves", "slimecaves"]
    },

    "desertsubsurface" : {
      "caveLiquid" : [ "tarliquid" ],
      "caveLiquidSeedDensityRange" : [2.0, 2.0],
      "biome" : [
        [2, [ "underground1d" ]]
      ]
    },

    "moonunderground" : {
      "fgCaveSelector" : [ "moonCaves" ],
      "fgOreSelector" : ["richVeins"],
      "bgOreSelector" : ["richVeins"],
      "caveLiquid" : [ "fuel" ],
      "caveLiquidSeedDensityRange" : [3.5, 3.5],
      "biome" : [
        [0, [ "moonunderground"]]
      ]
    },

    "barrenunderground" : {
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ ],
      "biome" : [
        [0, [ "barrenunderground"]]
      ]
    },

    "tentacleundergroundtentacles" : {
      "caveLiquid" : [ "poison" ],
      "biome" : [
        [1, [ "undergroundtentacles" ] ]
      ]
    },

    "tentacleundergroundceiling" : {
      "oceanLevelOffset" : -10,
      "fgCaveSelector" : [ "coreCaves" ],
      "bgCaveSelector" : [ "coreBackgroundCaves" ],
      "biome" : [
        [1, [ "undergroundtentacles" ] ]
      ]
    },

    "tentacleundergroundfloor" : {
      "blockSelector" : [ "remixedFlatsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [1, [ "undergroundbrains" ] ]
      ]
    },

    // underground subregions

    "mushroomunderground" : {
      "biome" : [
        [0, [ "mushrooms"]]
      ]
    },

    "wildernessunderground" : {
      "biome" : [
        [0, [ "wilderness"]]
      ]
    },

    "tarunderground" : {
      "caveLiquid" : [ "tarliquid" ],
      "biome" : [
        [0, [ "tarpit"]]
      ]
    },

    "minivillageunderground" : {
      "biome" : [
        [0, [ "minivillage"]]
      ]
    },

    "icecaves" : {
      "biome" : [
        [0, [ "icecaves"]]
      ]
    },

    "bonecaves" : {
      "biome" : [
        [0, [ "bonecaves"]]
      ]
    },

    "stonecaves" : {
      "caveLiquid" : [ "water" ],
      "biome" : [
        [0, [ "stonecaves"]]
      ]
    },

    "luminouscaves" : {
      "caveLiquid" : [ "poison" ],
      "biome" : [
        [0, [ "luminouscaves"]]
      ]
    },

    "fleshcaves" : {
      "biome" : [
        [0, [ "fleshcaves" ]]
      ]
    },

    "cellcaves" : {
      "caveLiquid" : [ "poison" ],
      "caveLiquidSeedDensityRange" : [3.0, 3.0],
      "biome" : [
        [0, [ "cellcaves" ]]
      ]
    },

    "slimecaves" : {
      "caveLiquid" : [ "slimeliquid" ],
      "caveLiquidSeedDensityRange" : [3.0, 3.0],
      "biome" : [
        [0, [ "slimecaves" ]]
      ]
    },

    // core

    "core" : {
      "caveLiquid" : [ "lava" ],
      "caveLiquidSeedDensityRange" : [4.0, 4.0],
      "oceanLiquid" : [ "corelava" ],
      "oceanLevelOffset" : -20,
      "fgCaveSelector" : [ "coreCaves" ],
      "bgCaveSelector" : [ "coreBackgroundCaves" ],
      "biome" : [
        [1, [ "gardencorelayer"] ],
        [2, [ "blaststonecorelayer", "magmarockcorelayer", "obsidiancorelayer" ]]
      ]
    },

    "mooncore" : {
      "fgCaveSelector" : [ "empty" ],
      "subBlockSelector" : [ "lowHillsSurface" ],
      "biome" : [
        [0, [ "mooncorelayer" ]]
      ]
    },

    "tentacleundergroundcore" : {
      "caveLiquid" : [ "empty" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [1, [ "undergroundbrainssolid" ] ]
      ]
    }
  }
}
