{
  "outpost_mission1" : {
    "actions" : [
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_terramart",
        "targetInstance" : "outpost",
        "targetPosition" : [332, 621]
      },
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_frogfurnishing",
        "targetInstance" : "outpost",
        "targetPosition" : [332, 655]
      },
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_2stopshop",
        "targetInstance" : "outpost",
        "targetPosition" : [427, 618]
      },
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_peacekeeper",
        "targetInstance" : "outpost",
        "targetPosition" : [310, 616]
      }
    ]
  },
  "outpost_mission2" : {
    "actions" : [
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_nuru",
        "targetInstance" : "outpost",
        "targetPosition" : [838, 608]
      },
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_penguinbay",
        "targetInstance" : "outpost",
        "targetPosition" : [452, 627]
      },
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_signstore",
        "targetInstance" : "outpost",
        "targetPosition" : [308, 640]
      }
    ]
  },
  "outpost_mission3" : {
    "actions" : [
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_koichi",
        "targetInstance" : "outpost",
        "targetPosition" : [931, 608]
      },
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_treasuredtrophies",
        "targetInstance" : "outpost",
        "targetPosition" : [611, 645]
      }
    ]
  },
  "outpost_mission4" : {
    "actions" : [
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_tonauac",
        "targetInstance" : "outpost",
        "targetPosition" : [805, 608]
      },
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_mazebound",
        "targetInstance" : "outpost",
        "targetPosition" : [444, 561]
      }
    ]
  },
  "outpost_mission5" : {
    "actions" : [
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_lana",
        "targetInstance" : "outpost",
        "targetPosition" : [964, 608]
      }
    ]
  },
  "outpost_mission6" : {
    "actions" : [
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_baron",
        "targetInstance" : "outpost",
        "targetPosition" : [757, 597]
      }
    ]
  },
  "outpost_beakeasy" : {
    "actions" : [
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_beakeasy1",
        "targetInstance" : "outpost",
        "targetPosition" : [447, 567]
      },
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_beakeasy2",
        "targetInstance" : "outpost",
        "targetPosition" : [429, 567]
      }
    ]
  },
  "outpost_ursaminer" : {
    "actions" : [
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_ursaminer",
        "targetInstance" : "outpost",
        "targetPosition" : [406, 651]
      }
    ]
  },
  "outpost_techscientist1" : {
    "actions" : [
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_techscientist1",
        "targetInstance" : "outpost",
        "targetPosition" : [355, 636]
      }
    ]
  },
  "outpost_techscientist2" : {
    "actions" : [
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_techscientist2",
        "targetInstance" : "outpost",
        "targetPosition" : [355, 636]
      }
    ]
  },
  "outpost_weaponshop" : {
    "actions" : [
      {
        "type" : "placeDungeon",
        "dungeonId" : "outpost_weaponshop",
        "targetInstance" : "outpost",
        "targetPosition" : [364, 588]
      }
    ]
  }
}
