{
  "PlayerMetadata" : 3,
  "WorldMetadata" : 26,
  "System" : 2,
  "UniverseSettings" : 5,
  "TempWorldIndex" : 1,
  "ClientContext" : 6,
  "CelestialChunk" : 12,
  "Statistics" : 2,

  "PlayerEntity" : 31,
  "MonsterEntity" : 5,
  "ObjectEntity" : 9,
  "PlantEntity" : 3,
  "ItemDropEntity" : 4,
  "NpcEntity" : 10,
  "StagehandEntity" : 3,
  "VehicleEntity" : 1,

  "Item" : 8,
  "Quest" : 3,
  "QuestArcDescriptor" : 1,
  "QuestDescriptor" : 3
}
