{
  "blockCacheSize" : 50000,
  "defaultGravity" : 80,

  "customTerrainBlendSize" : 60,
  "customTerrainBlendWeight" : 30,

  "playerStartSearchTries" : 100,
  "playerStartSearchYRange" : 70,
  "playerStartFreeBlocksRadius" : 1,
  "playerStartFreeBlocksHeight" : 3,

  "surfaceCaveAttenuationDist" : 16,
  "surfaceCaveAttenuationFactor" : 0.2,

  // if the primary block weighting is below this value, the block will be marked as
  // part of a transition zone and won't place placeables
  "biomeTransitionThreshold" : 0.7
}
