{
  "fidelitySettings" : {
    "minimum" : {
      "liquidUpdate" : [4, 0],
      "wiringUpdate" : [5, 0],
      "fallingBlocksUpdate" : [8, 0],
      "worldStorageTick" : [5, 1],
      "worldStorageGenerate" : [5, 2],
      "blockDamageUpdate" : [5, 3],
      "environmentUpdate" : [30, 0],

      "worldStorageGenerationLevelLimit" : 2,
      "liquidEngineBackgroundProcessingLimit" : 100
    },

    "low" : {
      "liquidUpdate" : [2, 0],
      "wiringUpdate" : [5, 0],
      "fallingBlocksUpdate" : [4, 0],
      "worldStorageTick" : [4, 1],
      "worldStorageGenerate" : [4, 2],
      "blockDamageUpdate" : [4, 3],
      "environmentUpdate" : [30, 0],

      "worldStorageGenerationLevelLimit" : 2,
      "liquidEngineBackgroundProcessingLimit" : 200
    },

    "medium" : {
      "liquidUpdate" : [2, 0],
      "wiringUpdate" : [3, 0],
      "fallingBlocksUpdate" : [4, 0],
      "worldStorageTick" : [4, 1],
      "worldStorageGenerate" : [4, 2],
      "blockDamageUpdate" : [4, 3],
      "environmentUpdate" : [20, 0],

      "worldStorageGenerationLevelLimit" : 3,
      "liquidEngineBackgroundProcessingLimit" : 600
    },

    "high" : {
      "liquidUpdate" : [2, 0],
      "wiringUpdate" : [2, 1],
      "fallingBlocksUpdate" : [4, 0],
      "worldStorageTick" : [4, 1],
      "worldStorageGenerate" : [4, 2],
      "blockDamageUpdate" : [4, 3],
      "environmentUpdate" : [20, 0],

      "worldStorageGenerationLevelLimit" : 6,
      "liquidEngineBackgroundProcessingLimit" : 1200
    }
  },

  "playerStartInitialGenRadius" : 70,
  "playerActiveRegionPad" : [50, 25],

  "explosionDisplacementProbability" : 0.2,
  "explosionDisplacementVelocity" : 40,

  "interpolationSettings" : {
    "normal" : {
      "interpolationEnabled" : false,
      "entityUpdateDelta" : 3,
      "stepLead" : 0,
      "stepTrackFactor" : 0.05,
      "stepMaxDistance" : 60
    },

    "local" : {
      "interpolationEnabled" : false,
      "entityUpdateDelta" : 1,
      "stepLead" : 0,
      "stepTrackFactor" : 0.20,
      "stepMaxDistance" : 30
    }
  },

  "playerSpaceStartRegionSize" : [6, 8],
  "playerSpaceStartDistanceIncrement" : 5,
  "playerSpaceStartMaximumTries" : 40,

  "playerStartRegionSize" : [1.2, 4.5],
  "playerStartRegionMaximumVerticalSearch" : 50,
  "playerStartRegionMaximumTries" : 20,

  "spawnDungeonRetries" : 10,

  "luaGcPause" : 1.2,
  "luaGcStepMultiplier" : 1.2,

  "tileEntityBreakCheckInterval" : 0.2,

  "fallingBlocksImmediateUpwardPropogateProbability" : 0.6,

  "worldEdgeForceRegionHeight" : 15,
  "worldEdgeForceRegionVelocity" : 40,
  "worldEdgeForceRegionForce" : 2000
}
